html, body {
	position: relative;
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
	font-variant-ligatures: none;
	overflow-x: hidden;
	background-color: #f4f4fa;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

