<script>
  import { onMount } from 'svelte'
  import animationData from './animationData'
  import lottie from 'lottie-web'
  import Svg from './Svg.svelte'
  let logoRef
  onMount(() => {
    const params = {
      container: logoRef,
      renderer: 'svg',
      loop: true,
      autoplay: true,
      animationData: animationData,
    }

    lottie.loadAnimation(params)
  })
</script>

<div bind:this={logoRef} class="s-container">
  <Svg/>
</div>

<style>
  .s-container :global(svg) {
    max-height: 3.25rem !important;
    width: auto !important;
    max-width: 10em;
  }
  .s-container :global(svg:first-child) {
    display: none;
  }
</style>
