<svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 167 45"
    width="167"
    height="45"
    preserveAspectRatio="xMidYMid meet"
    style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px);"
    ><defs><clipPath id="__lottie_element_2"><rect width="167" height="45" x="0" y="0" /></clipPath></defs><g
      clip-path="url(#__lottie_element_2)"
      ><g
        fill="rgb(0,0,0)"
        font-size="10"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="Все о жизни на экране"
        transform="matrix(1,0,0,1,39.94898986816406,36.433013916015625)"
        opacity="1"
        style="display: block;"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M3.29,0 C4.05,0 4.63,-0.18 5.04,-0.55 C5.46,-0.91 5.66,-1.41 5.66,-2.05 C5.66,-2.47 5.55,-2.83 5.33,-3.13 C5.11,-3.43 4.8,-3.63 4.42,-3.74 C4.74,-3.88 5,-4.08 5.19,-4.33 C5.38,-4.59 5.47,-4.88 5.47,-5.21 C5.47,-5.84 5.28,-6.31 4.89,-6.63 C4.5,-6.95 3.92,-7.11 3.15,-7.11 C3.15,-7.11 0.83,-7.11 0.83,-7.11 C0.83,-7.11 0.83,0 0.83,0 C0.83,0 3.29,0 3.29,0z M3.33,-3.33 C4.26,-3.33 4.72,-2.9 4.72,-2.04 C4.72,-1.64 4.6,-1.33 4.34,-1.11 C4.09,-0.88 3.75,-0.77 3.31,-0.77 C3.31,-0.77 1.76,-0.77 1.76,-0.77 C1.76,-0.77 1.76,-3.33 1.76,-3.33 C1.76,-3.33 3.33,-3.33 3.33,-3.33z M1.76,-6.34 C1.76,-6.34 3.15,-6.34 3.15,-6.34 C3.61,-6.34 3.96,-6.25 4.19,-6.08 C4.42,-5.9 4.53,-5.61 4.53,-5.22 C4.53,-4.87 4.41,-4.59 4.16,-4.39 C3.92,-4.18 3.59,-4.08 3.18,-4.08 C3.18,-4.08 1.76,-4.08 1.76,-4.08 C1.76,-4.08 1.76,-6.34 1.76,-6.34z M8.8,-1.13 C8.55,-1.46 8.43,-1.93 8.43,-2.54 C8.43,-2.54 8.43,-2.71 8.43,-2.71 C8.43,-3.34 8.55,-3.81 8.81,-4.14 C9.06,-4.47 9.41,-4.64 9.87,-4.64 C10.22,-4.64 10.5,-4.53 10.74,-4.31 C10.97,-4.09 11.1,-3.81 11.12,-3.47 C11.12,-3.47 11.98,-3.47 11.98,-3.47 C11.95,-4.03 11.74,-4.49 11.35,-4.85 C10.96,-5.2 10.47,-5.38 9.87,-5.38 C9.39,-5.38 8.97,-5.27 8.62,-5.05 C8.27,-4.83 8,-4.52 7.81,-4.12 C7.62,-3.72 7.53,-3.26 7.53,-2.74 C7.53,-2.74 7.53,-2.59 7.53,-2.59 C7.53,-1.76 7.74,-1.1 8.16,-0.62 C8.59,-0.14 9.16,0.1 9.88,0.1 C10.24,0.1 10.58,0.02 10.9,-0.15 C11.22,-0.31 11.47,-0.53 11.67,-0.8 C11.86,-1.07 11.96,-1.36 11.98,-1.67 C11.98,-1.67 11.12,-1.67 11.12,-1.67 C11.1,-1.37 10.96,-1.13 10.72,-0.93 C10.48,-0.74 10.2,-0.64 9.88,-0.64 C9.41,-0.64 9.06,-0.8 8.8,-1.13z M18.03,-0.92 C18.03,-0.92 17.48,-1.35 17.48,-1.35 C17.31,-1.14 17.12,-0.97 16.9,-0.84 C16.67,-0.7 16.4,-0.64 16.08,-0.64 C15.64,-0.64 15.27,-0.8 14.97,-1.12 C14.68,-1.44 14.53,-1.86 14.52,-2.38 C14.52,-2.38 18.1,-2.38 18.1,-2.38 C18.1,-2.38 18.1,-2.76 18.1,-2.76 C18.1,-3.6 17.91,-4.25 17.53,-4.7 C17.14,-5.15 16.61,-5.38 15.92,-5.38 C15.5,-5.38 15.11,-5.26 14.75,-5.03 C14.39,-4.8 14.11,-4.48 13.91,-4.06 C13.71,-3.65 13.61,-3.19 13.61,-2.66 C13.61,-2.66 13.61,-2.5 13.61,-2.5 C13.61,-1.71 13.84,-1.08 14.29,-0.61 C14.74,-0.14 15.32,0.1 16.04,0.1 C16.92,0.1 17.59,-0.24 18.03,-0.92z M16.82,-4.26 C17.04,-4.01 17.17,-3.65 17.19,-3.19 C17.19,-3.19 17.19,-3.13 17.19,-3.13 C17.19,-3.13 14.55,-3.13 14.55,-3.13 C14.61,-3.6 14.76,-3.98 15.01,-4.24 C15.25,-4.51 15.56,-4.64 15.92,-4.64 C16.3,-4.64 16.6,-4.51 16.82,-4.26z M23.08,-2.63 C23.08,-1.81 23.3,-1.15 23.74,-0.65 C24.19,-0.15 24.77,0.1 25.49,0.1 C25.96,0.1 26.38,-0.02 26.75,-0.24 C27.11,-0.47 27.4,-0.79 27.59,-1.2 C27.79,-1.61 27.89,-2.07 27.89,-2.58 C27.89,-2.58 27.89,-2.65 27.89,-2.65 C27.89,-3.47 27.67,-4.14 27.22,-4.63 C26.78,-5.13 26.2,-5.38 25.48,-5.38 C25.01,-5.38 24.6,-5.27 24.23,-5.04 C23.87,-4.82 23.59,-4.5 23.38,-4.09 C23.18,-3.67 23.08,-3.21 23.08,-2.69 C23.08,-2.69 23.08,-2.63 23.08,-2.63z M24.4,-4.11 C24.67,-4.46 25.03,-4.64 25.48,-4.64 C25.93,-4.64 26.3,-4.46 26.57,-4.1 C26.85,-3.74 26.98,-3.27 26.98,-2.69 C26.98,-2.04 26.85,-1.54 26.58,-1.18 C26.31,-0.82 25.94,-0.64 25.49,-0.64 C25.03,-0.64 24.67,-0.82 24.39,-1.17 C24.12,-1.53 23.99,-2 23.99,-2.58 C23.99,-3.24 24.12,-3.75 24.4,-4.11z M38.89,0 C38.89,0 40.03,0 40.03,0 C40.03,0 38.14,-2.73 38.14,-2.73 C38.14,-2.73 39.86,-5.28 39.86,-5.28 C39.86,-5.28 38.76,-5.28 38.76,-5.28 C38.76,-5.28 37.39,-3.1 37.39,-3.1 C37.39,-3.1 36.78,-3.1 36.78,-3.1 C36.78,-3.1 36.78,-5.28 36.78,-5.28 C36.78,-5.28 35.87,-5.28 35.87,-5.28 C35.87,-5.28 35.87,-3.1 35.87,-3.1 C35.87,-3.1 35.25,-3.1 35.25,-3.1 C35.25,-3.1 33.89,-5.28 33.89,-5.28 C33.89,-5.28 32.8,-5.28 32.8,-5.28 C32.8,-5.28 34.51,-2.73 34.51,-2.73 C34.51,-2.73 32.62,0 32.62,0 C32.62,0 33.76,0 33.76,0 C33.76,0 35.24,-2.29 35.24,-2.29 C35.24,-2.29 35.87,-2.29 35.87,-2.29 C35.87,-2.29 35.87,0 35.87,0 C35.87,0 36.78,0 36.78,0 C36.78,0 36.78,-2.29 36.78,-2.29 C36.78,-2.29 37.41,-2.29 37.41,-2.29 C37.41,-2.29 38.89,0 38.89,0z M42.68,-1.43 C42.68,-1.43 42.68,-5.28 42.68,-5.28 C42.68,-5.28 41.78,-5.28 41.78,-5.28 C41.78,-5.28 41.78,0 41.78,0 C41.78,0 42.68,0 42.68,0 C42.68,0 45.12,-3.85 45.12,-3.85 C45.12,-3.85 45.12,0 45.12,0 C45.12,0 46.02,0 46.02,0 C46.02,0 46.02,-5.28 46.02,-5.28 C46.02,-5.28 45.12,-5.28 45.12,-5.28 C45.12,-5.28 42.68,-1.43 42.68,-1.43z M50.31,-3.08 C50.31,-3.08 49.32,-3.08 49.32,-3.08 C49.32,-3.08 49.32,-2.31 49.32,-2.31 C49.32,-2.31 50.23,-2.31 50.23,-2.31 C50.6,-2.31 50.88,-2.25 51.06,-2.12 C51.23,-1.99 51.32,-1.78 51.32,-1.48 C51.32,-1.23 51.22,-1.02 51,-0.86 C50.79,-0.7 50.51,-0.63 50.17,-0.63 C49.83,-0.63 49.54,-0.72 49.31,-0.9 C49.08,-1.08 48.97,-1.31 48.97,-1.56 C48.97,-1.56 48.07,-1.56 48.07,-1.56 C48.07,-1.05 48.27,-0.65 48.66,-0.35 C49.06,-0.06 49.56,0.09 50.17,0.09 C50.79,0.09 51.29,-0.05 51.67,-0.33 C52.04,-0.61 52.23,-1 52.23,-1.48 C52.23,-2.09 51.92,-2.5 51.31,-2.71 C51.57,-2.83 51.77,-2.99 51.92,-3.19 C52.06,-3.39 52.13,-3.6 52.13,-3.84 C52.13,-4.33 51.96,-4.71 51.61,-4.98 C51.27,-5.24 50.79,-5.38 50.17,-5.38 C49.59,-5.38 49.11,-5.23 48.73,-4.94 C48.34,-4.64 48.15,-4.27 48.15,-3.81 C48.15,-3.81 49.05,-3.81 49.05,-3.81 C49.05,-4.03 49.16,-4.23 49.37,-4.39 C49.58,-4.56 49.85,-4.64 50.17,-4.64 C50.5,-4.64 50.76,-4.57 50.95,-4.43 C51.13,-4.28 51.23,-4.09 51.23,-3.84 C51.23,-3.35 50.92,-3.09 50.31,-3.08z M58.57,-5.28 C58.57,-5.28 57.66,-5.28 57.66,-5.28 C57.66,-5.28 57.66,-2.99 57.66,-2.99 C57.66,-2.99 55.24,-2.99 55.24,-2.99 C55.24,-2.99 55.24,-5.28 55.24,-5.28 C55.24,-5.28 54.33,-5.28 54.33,-5.28 C54.33,-5.28 54.33,0 54.33,0 C54.33,0 55.24,0 55.24,0 C55.24,0 55.24,-2.26 55.24,-2.26 C55.24,-2.26 57.66,-2.26 57.66,-2.26 C57.66,-2.26 57.66,0 57.66,0 C57.66,0 58.57,0 58.57,0 C58.57,0 58.57,-5.28 58.57,-5.28z M61.85,-1.43 C61.85,-1.43 61.85,-5.28 61.85,-5.28 C61.85,-5.28 60.95,-5.28 60.95,-5.28 C60.95,-5.28 60.95,0 60.95,0 C60.95,0 61.85,0 61.85,0 C61.85,0 64.29,-3.85 64.29,-3.85 C64.29,-3.85 64.29,0 64.29,0 C64.29,0 65.19,0 65.19,0 C65.19,0 65.19,-5.28 65.19,-5.28 C65.19,-5.28 64.29,-5.28 64.29,-5.28 C64.29,-5.28 61.85,-1.43 61.85,-1.43z M75.13,-5.28 C75.13,-5.28 74.23,-5.28 74.23,-5.28 C74.23,-5.28 74.23,-2.99 74.23,-2.99 C74.23,-2.99 71.8,-2.99 71.8,-2.99 C71.8,-2.99 71.8,-5.28 71.8,-5.28 C71.8,-5.28 70.89,-5.28 70.89,-5.28 C70.89,-5.28 70.89,0 70.89,0 C70.89,0 71.8,0 71.8,0 C71.8,0 71.8,-2.26 71.8,-2.26 C71.8,-2.26 74.23,-2.26 74.23,-2.26 C74.23,-2.26 74.23,0 74.23,0 C74.23,0 75.13,0 75.13,0 C75.13,0 75.13,-5.28 75.13,-5.28z M81.64,0 C81.64,0 81.64,-0.08 81.64,-0.08 C81.52,-0.36 81.46,-0.75 81.46,-1.24 C81.46,-1.24 81.46,-3.67 81.46,-3.67 C81.44,-4.2 81.26,-4.62 80.92,-4.92 C80.57,-5.23 80.1,-5.38 79.49,-5.38 C79.1,-5.38 78.75,-5.31 78.43,-5.17 C78.11,-5.02 77.86,-4.83 77.67,-4.58 C77.48,-4.34 77.39,-4.08 77.39,-3.82 C77.39,-3.82 78.3,-3.82 78.3,-3.82 C78.3,-4.05 78.41,-4.25 78.62,-4.41 C78.84,-4.57 79.11,-4.65 79.43,-4.65 C79.8,-4.65 80.08,-4.56 80.27,-4.37 C80.46,-4.19 80.55,-3.93 80.55,-3.62 C80.55,-3.62 80.55,-3.2 80.55,-3.2 C80.55,-3.2 79.67,-3.2 79.67,-3.2 C78.92,-3.2 78.33,-3.05 77.91,-2.75 C77.49,-2.44 77.28,-2.01 77.28,-1.46 C77.28,-1.01 77.45,-0.64 77.78,-0.34 C78.12,-0.05 78.54,0.1 79.06,0.1 C79.65,0.1 80.15,-0.12 80.57,-0.56 C80.6,-0.29 80.64,-0.1 80.69,0 C80.69,0 81.64,0 81.64,0z M78.47,-0.93 C78.28,-1.09 78.18,-1.31 78.18,-1.59 C78.18,-2.24 78.74,-2.56 79.84,-2.56 C79.84,-2.56 80.55,-2.56 80.55,-2.56 C80.55,-2.56 80.55,-1.48 80.55,-1.48 C80.44,-1.25 80.25,-1.05 80,-0.91 C79.75,-0.76 79.48,-0.69 79.2,-0.69 C78.9,-0.69 78.66,-0.77 78.47,-0.93z M89.85,-4.21 C90.09,-3.92 90.24,-3.54 90.28,-3.06 C90.28,-3.06 88.31,-3.06 88.31,-3.06 C88.31,-3.06 88.31,-2.32 88.31,-2.32 C88.31,-2.32 90.29,-2.32 90.29,-2.32 C90.26,-1.8 90.11,-1.38 89.86,-1.08 C89.61,-0.78 89.29,-0.63 88.9,-0.63 C88.57,-0.63 88.29,-0.75 88.06,-0.97 C87.83,-1.2 87.71,-1.48 87.71,-1.81 C87.71,-1.81 86.85,-1.81 86.85,-1.81 C86.85,-1.27 87.05,-0.81 87.44,-0.45 C87.83,-0.08 88.32,0.1 88.9,0.1 C89.35,0.1 89.75,-0.01 90.1,-0.24 C90.45,-0.46 90.72,-0.78 90.92,-1.18 C91.11,-1.59 91.21,-2.04 91.21,-2.54 C91.21,-2.54 91.21,-2.69 91.21,-2.69 C91.21,-3.49 91,-4.14 90.57,-4.64 C90.15,-5.13 89.59,-5.38 88.9,-5.38 C88.56,-5.38 88.23,-5.3 87.91,-5.13 C87.59,-4.97 87.33,-4.75 87.14,-4.47 C86.95,-4.2 86.85,-3.91 86.85,-3.6 C86.85,-3.6 87.71,-3.6 87.71,-3.6 C87.71,-3.88 87.83,-4.13 88.07,-4.33 C88.3,-4.54 88.58,-4.64 88.9,-4.64 C89.29,-4.64 89.61,-4.49 89.85,-4.21z M96.75,0 C96.75,0 97.9,0 97.9,0 C97.9,0 95.63,-2.74 95.63,-2.74 C95.63,-2.74 97.72,-5.28 97.72,-5.28 C97.72,-5.28 96.63,-5.28 96.63,-5.28 C96.63,-5.28 94.85,-3.05 94.85,-3.05 C94.85,-3.05 94.26,-3.05 94.26,-3.05 C94.26,-3.05 94.26,-5.28 94.26,-5.28 C94.26,-5.28 93.35,-5.28 93.35,-5.28 C93.35,-5.28 93.35,0 93.35,0 C93.35,0 94.26,0 94.26,0 C94.26,0 94.26,-2.25 94.26,-2.25 C94.26,-2.25 94.92,-2.25 94.92,-2.25 C94.92,-2.25 96.75,0 96.75,0z M103.99,-2.67 C103.99,-3.52 103.8,-4.18 103.43,-4.66 C103.06,-5.14 102.56,-5.38 101.93,-5.38 C101.27,-5.38 100.76,-5.15 100.39,-4.7 C100.39,-4.7 100.35,-5.28 100.35,-5.28 C100.35,-5.28 99.52,-5.28 99.52,-5.28 C99.52,-5.28 99.52,2.03 99.52,2.03 C99.52,2.03 100.43,2.03 100.43,2.03 C100.43,2.03 100.43,-0.51 100.43,-0.51 C100.79,-0.11 101.3,0.1 101.94,0.1 C102.57,0.1 103.07,-0.15 103.43,-0.64 C103.8,-1.13 103.99,-1.78 103.99,-2.58 C103.99,-2.58 103.99,-2.67 103.99,-2.67z M102.7,-1.15 C102.44,-0.81 102.1,-0.64 101.67,-0.64 C101.11,-0.64 100.7,-0.88 100.43,-1.36 C100.43,-1.36 100.43,-3.89 100.43,-3.89 C100.7,-4.37 101.11,-4.61 101.66,-4.61 C102.1,-4.61 102.45,-4.44 102.7,-4.1 C102.96,-3.75 103.08,-3.28 103.08,-2.69 C103.08,-2.01 102.96,-1.5 102.7,-1.15z M110.19,0 C110.19,0 110.19,-0.08 110.19,-0.08 C110.07,-0.36 110.01,-0.75 110.01,-1.24 C110.01,-1.24 110.01,-3.67 110.01,-3.67 C109.99,-4.2 109.81,-4.62 109.47,-4.92 C109.12,-5.23 108.65,-5.38 108.04,-5.38 C107.66,-5.38 107.3,-5.31 106.98,-5.17 C106.66,-5.02 106.41,-4.83 106.22,-4.58 C106.03,-4.34 105.94,-4.08 105.94,-3.82 C105.94,-3.82 106.85,-3.82 106.85,-3.82 C106.85,-4.05 106.96,-4.25 107.18,-4.41 C107.39,-4.57 107.66,-4.65 107.99,-4.65 C108.35,-4.65 108.63,-4.56 108.82,-4.37 C109.01,-4.19 109.1,-3.93 109.1,-3.62 C109.1,-3.62 109.1,-3.2 109.1,-3.2 C109.1,-3.2 108.22,-3.2 108.22,-3.2 C107.47,-3.2 106.88,-3.05 106.46,-2.75 C106.04,-2.44 105.83,-2.01 105.83,-1.46 C105.83,-1.01 106,-0.64 106.33,-0.34 C106.67,-0.05 107.09,0.1 107.61,0.1 C108.2,0.1 108.7,-0.12 109.12,-0.56 C109.15,-0.29 109.19,-0.1 109.25,0 C109.25,0 110.19,0 110.19,0z M107.02,-0.93 C106.83,-1.09 106.74,-1.31 106.74,-1.59 C106.74,-2.24 107.29,-2.56 108.4,-2.56 C108.4,-2.56 109.1,-2.56 109.1,-2.56 C109.1,-2.56 109.1,-1.48 109.1,-1.48 C108.99,-1.25 108.81,-1.05 108.55,-0.91 C108.3,-0.76 108.03,-0.69 107.75,-0.69 C107.45,-0.69 107.21,-0.77 107.02,-0.93z M116.59,-5.28 C116.59,-5.28 115.69,-5.28 115.69,-5.28 C115.69,-5.28 115.69,-2.99 115.69,-2.99 C115.69,-2.99 113.26,-2.99 113.26,-2.99 C113.26,-2.99 113.26,-5.28 113.26,-5.28 C113.26,-5.28 112.35,-5.28 112.35,-5.28 C112.35,-5.28 112.35,0 112.35,0 C112.35,0 113.26,0 113.26,0 C113.26,0 113.26,-2.26 113.26,-2.26 C113.26,-2.26 115.69,-2.26 115.69,-2.26 C115.69,-2.26 115.69,0 115.69,0 C115.69,0 116.59,0 116.59,0 C116.59,0 116.59,-5.28 116.59,-5.28z M123.07,-0.92 C123.07,-0.92 122.52,-1.35 122.52,-1.35 C122.36,-1.14 122.16,-0.97 121.94,-0.84 C121.72,-0.7 121.45,-0.64 121.13,-0.64 C120.68,-0.64 120.31,-0.8 120.02,-1.12 C119.73,-1.44 119.58,-1.86 119.56,-2.38 C119.56,-2.38 123.14,-2.38 123.14,-2.38 C123.14,-2.38 123.14,-2.76 123.14,-2.76 C123.14,-3.6 122.95,-4.25 122.57,-4.7 C122.19,-5.15 121.66,-5.38 120.97,-5.38 C120.55,-5.38 120.16,-5.26 119.8,-5.03 C119.44,-4.8 119.16,-4.48 118.96,-4.06 C118.76,-3.65 118.66,-3.19 118.66,-2.66 C118.66,-2.66 118.66,-2.5 118.66,-2.5 C118.66,-1.71 118.88,-1.08 119.33,-0.61 C119.78,-0.14 120.37,0.1 121.08,0.1 C121.97,0.1 122.63,-0.24 123.07,-0.92z M121.87,-4.26 C122.09,-4.01 122.21,-3.65 122.24,-3.19 C122.24,-3.19 122.24,-3.13 122.24,-3.13 C122.24,-3.13 119.59,-3.13 119.59,-3.13 C119.65,-3.6 119.8,-3.98 120.05,-4.24 C120.3,-4.51 120.61,-4.64 120.97,-4.64 C121.35,-4.64 121.65,-4.51 121.87,-4.26z"
          style="display: inherit;"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="skinlaifer"
        style="display: none;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,38.73199462890625,24.41900634765625)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M48.3,-11.86 C45.4,-9.92 41.56,-8.95 36.78,-8.95 C31.58,-8.95 27.4,-10.2 24.23,-12.68 C21.07,-15.16 19.37,-18.53 19.14,-22.76 C19.14,-22.76 6.49,-22.76 6.49,-22.76 C6.49,-18.39 7.78,-14.32 10.36,-10.56 C12.93,-6.8 16.5,-3.87 21.05,-1.78 C25.61,0.32 30.85,1.37 36.78,1.37 C45.21,1.37 52.07,-0.63 57.35,-4.61 C62.64,-8.6 65.28,-13.9 65.28,-20.51 C65.28,-24.47 64.34,-27.83 62.45,-30.59 C60.55,-33.35 57.65,-35.71 53.73,-37.67 C49.81,-39.62 44.69,-41.31 38.38,-42.73 C32.07,-44.14 27.71,-45.62 25.29,-47.17 C22.88,-48.72 21.67,-51.02 21.67,-54.07 C21.67,-57.31 22.97,-59.93 25.57,-61.93 C28.16,-63.94 31.76,-64.94 36.37,-64.94 C40.83,-64.94 44.54,-63.69 47.48,-61.18 C50.42,-58.67 51.89,-55.69 51.89,-52.23 C51.89,-52.23 64.6,-52.23 64.6,-52.23 C64.6,-58.97 61.99,-64.51 56.77,-68.84 C51.55,-73.17 44.75,-75.33 36.37,-75.33 C28.39,-75.33 21.84,-73.24 16.71,-69.04 C11.59,-64.85 9.02,-59.72 9.02,-53.66 C9.02,-50.01 9.92,-46.87 11.72,-44.23 C13.52,-41.59 16.3,-39.31 20.06,-37.39 C23.82,-35.48 28.9,-33.84 35.31,-32.47 C41.71,-31.1 46.2,-29.47 48.77,-27.58 C51.35,-25.69 52.64,-23.04 52.64,-19.62 C52.64,-16.38 51.19,-13.8 48.3,-11.86z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,0,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M55.99,0 C55.99,0 70.82,0 70.82,0 C70.82,0 38.69,-43.07 38.69,-43.07 C38.69,-43.07 67.47,-73.96 67.47,-73.96 C67.47,-73.96 52.09,-73.96 52.09,-73.96 C52.09,-73.96 29.05,-49.63 29.05,-49.63 C29.05,-49.63 22.29,-41.49 22.29,-41.49 C22.29,-41.49 22.29,-105 22.29,-105 C22.29,-105 9.64,-105 9.64,-105 C9.64,-105 9.64,0 9.64,0 C9.64,0 22.29,0 22.29,0 C22.29,0 22.29,-25.98 22.29,-25.98 C22.29,-25.98 30.21,-34.25 30.21,-34.25 C30.21,-34.25 55.99,0 55.99,0z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,74.84400177001953,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M23.31,-73.96 C23.31,-73.96 10.66,-73.96 10.66,-73.96 C10.66,-73.96 10.66,0 10.66,0 C10.66,0 23.31,0 23.31,0 C23.31,0 23.31,-73.96 23.31,-73.96z M11.52,-88.46 C12.77,-87.09 14.63,-86.41 17.09,-86.41 C19.55,-86.41 21.42,-87.09 22.7,-88.46 C23.97,-89.83 24.61,-91.53 24.61,-93.58 C24.61,-95.64 23.97,-97.37 22.7,-98.78 C21.42,-100.19 19.55,-100.9 17.09,-100.9 C14.63,-100.9 12.77,-100.19 11.52,-98.78 C10.26,-97.37 9.64,-95.64 9.64,-93.58 C9.64,-91.53 10.26,-89.83 11.52,-88.46z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,148.45599365234375,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M9.57,-73.96 C9.57,-73.96 9.57,0 9.57,0 C9.57,0 22.22,0 22.22,0 C22.22,0 22.22,-52.7 22.22,-52.7 C23.95,-56.26 26.36,-59.13 29.46,-61.32 C32.56,-63.51 36.16,-64.6 40.26,-64.6 C45.32,-64.6 49.05,-63.32 51.44,-60.77 C53.83,-58.22 55.05,-54.28 55.1,-48.95 C55.1,-48.95 55.1,0 55.1,0 C55.1,0 67.74,0 67.74,0 C67.74,0 67.74,-48.88 67.74,-48.88 C67.61,-66.51 59.72,-75.33 44.09,-75.33 C34.98,-75.33 27.59,-71.78 21.94,-64.67 C21.94,-64.67 21.53,-73.96 21.53,-73.96 C21.53,-73.96 9.57,-73.96 9.57,-73.96z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,185.09400939941406,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M23.31,-105 C23.31,-105 10.66,-105 10.66,-105 C10.66,-105 10.66,0 10.66,0 C10.66,0 23.31,0 23.31,0 C23.31,0 23.31,-105 23.31,-105z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,265.0060119628906,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M68.5,0 C68.5,0 68.5,-1.09 68.5,-1.09 C66.76,-5.1 65.9,-10.5 65.9,-17.3 C65.9,-17.3 65.9,-51.34 65.9,-51.34 C65.72,-58.81 63.21,-64.68 58.38,-68.94 C53.55,-73.2 46.87,-75.33 38.35,-75.33 C32.97,-75.33 28.04,-74.33 23.55,-72.32 C19.06,-70.32 15.5,-67.59 12.89,-64.15 C10.26,-60.71 8.95,-57.15 8.95,-53.46 C8.95,-53.46 21.67,-53.46 21.67,-53.46 C21.67,-56.69 23.2,-59.45 26.25,-61.73 C29.3,-64.01 33.08,-65.15 37.6,-65.15 C42.75,-65.15 46.64,-63.84 49.29,-61.22 C51.93,-58.6 53.25,-55.07 53.25,-50.65 C53.25,-50.65 53.25,-44.84 53.25,-44.84 C53.25,-44.84 40.95,-44.84 40.95,-44.84 C30.33,-44.84 22.09,-42.71 16.24,-38.45 C10.38,-34.19 7.45,-28.21 7.45,-20.51 C7.45,-14.17 9.79,-8.94 14.46,-4.82 C19.13,-0.69 25.11,1.37 32.4,1.37 C40.56,1.37 47.58,-1.69 53.46,-7.79 C53.91,-4.05 54.5,-1.46 55.23,0 C55.23,0 68.5,0 68.5,0z M24.06,-12.99 C21.42,-15.22 20.1,-18.32 20.1,-22.29 C20.1,-31.35 27.84,-35.89 43.34,-35.89 C43.34,-35.89 53.25,-35.89 53.25,-35.89 C53.25,-35.89 53.25,-20.71 53.25,-20.71 C51.66,-17.43 49.08,-14.77 45.53,-12.71 C41.97,-10.66 38.21,-9.64 34.25,-9.64 C30.1,-9.64 26.71,-10.75 24.06,-12.99z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,301.64398193359375,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M23.31,-73.96 C23.31,-73.96 10.66,-73.96 10.66,-73.96 C10.66,-73.96 10.66,0 10.66,0 C10.66,0 23.31,0 23.31,0 C23.31,0 23.31,-73.96 23.31,-73.96z M11.52,-88.46 C12.77,-87.09 14.63,-86.41 17.09,-86.41 C19.55,-86.41 21.42,-87.09 22.7,-88.46 C23.97,-89.83 24.61,-91.53 24.61,-93.58 C24.61,-95.64 23.97,-97.37 22.7,-98.78 C21.42,-100.19 19.55,-100.9 17.09,-100.9 C14.63,-100.9 12.77,-100.19 11.52,-98.78 C10.26,-97.37 9.64,-95.64 9.64,-93.58 C9.64,-91.53 10.26,-89.83 11.52,-88.46z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,380.45001220703125,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M28.44,0 C28.44,0 28.44,-64.19 28.44,-64.19 C28.44,-64.19 44.23,-64.19 44.23,-64.19 C44.23,-64.19 44.23,-73.96 44.23,-73.96 C44.23,-73.96 28.44,-73.96 28.44,-73.96 C28.44,-73.96 28.44,-81.78 28.44,-81.78 C28.44,-86.26 29.55,-89.7 31.79,-92.1 C34.02,-94.5 37.19,-95.7 41.29,-95.7 C43.7,-95.7 45.98,-95.5 48.12,-95.09 C48.12,-95.09 48.81,-105.28 48.81,-105.28 C45.94,-106.05 43.04,-106.43 40.13,-106.43 C32.38,-106.43 26.39,-104.27 22.15,-99.94 C17.91,-95.61 15.79,-89.48 15.79,-81.55 C15.79,-81.55 15.79,-73.96 15.79,-73.96 C15.79,-73.96 4.1,-73.96 4.1,-73.96 C4.1,-73.96 4.1,-64.19 4.1,-64.19 C4.1,-64.19 15.79,-64.19 15.79,-64.19 C15.79,-64.19 15.79,0 15.79,0 C15.79,0 28.44,0 28.44,0z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,417.0879821777344,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M68.15,-12.92 C68.15,-12.92 60.43,-18.93 60.43,-18.93 C58.11,-15.93 55.39,-13.51 52.3,-11.69 C49.2,-9.87 45.41,-8.95 40.95,-8.95 C34.66,-8.95 29.47,-11.2 25.4,-15.69 C21.32,-20.18 19.19,-26.07 19,-33.36 C19,-33.36 69.11,-33.36 69.11,-33.36 C69.11,-33.36 69.11,-38.62 69.11,-38.62 C69.11,-50.43 66.45,-59.49 61.11,-65.83 C55.78,-72.16 48.31,-75.33 38.69,-75.33 C32.81,-75.33 27.35,-73.7 22.32,-70.44 C17.28,-67.18 13.36,-62.67 10.56,-56.91 C7.76,-51.14 6.36,-44.59 6.36,-37.26 C6.36,-37.26 6.36,-34.93 6.36,-34.93 C6.36,-23.9 9.5,-15.1 15.79,-8.51 C22.08,-1.92 30.24,1.37 40.26,1.37 C52.66,1.37 61.96,-3.39 68.15,-12.92z M51.27,-59.64 C54.37,-56.11 56.1,-51.13 56.46,-44.71 C56.46,-44.71 56.46,-43.75 56.46,-43.75 C56.46,-43.75 19.41,-43.75 19.41,-43.75 C20.23,-50.45 22.38,-55.65 25.84,-59.37 C29.3,-63.08 33.59,-64.94 38.69,-64.94 C43.98,-64.94 48.17,-63.17 51.27,-59.64z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,468.3559875488281,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M45.32,-74.37 C44.05,-75.01 42.18,-75.33 39.72,-75.33 C32.1,-75.33 26.23,-72.03 22.08,-65.42 C22.08,-65.42 21.87,-73.96 21.87,-73.96 C21.87,-73.96 9.57,-73.96 9.57,-73.96 C9.57,-73.96 9.57,0 9.57,0 C9.57,0 22.22,0 22.22,0 C22.22,0 22.22,-52.5 22.22,-52.5 C25.18,-59.56 30.81,-63.1 39.1,-63.1 C41.33,-63.1 43.41,-62.94 45.32,-62.62 C45.32,-62.62 45.32,-74.37 45.32,-74.37z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,545.18798828125,0)"
          opacity="0"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="screenlifer"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,38.82417297363281,24.453399658203125)"
        opacity="1"
        style="display: none;"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M48.3,-11.86 C45.4,-9.92 41.56,-8.95 36.78,-8.95 C31.58,-8.95 27.4,-10.2 24.23,-12.68 C21.07,-15.16 19.37,-18.53 19.14,-22.76 C19.14,-22.76 6.49,-22.76 6.49,-22.76 C6.49,-18.39 7.78,-14.32 10.36,-10.56 C12.93,-6.8 16.5,-3.87 21.05,-1.78 C25.61,0.32 30.85,1.37 36.78,1.37 C45.21,1.37 52.07,-0.63 57.35,-4.61 C62.64,-8.6 65.28,-13.9 65.28,-20.51 C65.28,-24.47 64.34,-27.83 62.45,-30.59 C60.55,-33.35 57.65,-35.71 53.73,-37.67 C49.81,-39.62 44.69,-41.31 38.38,-42.73 C32.07,-44.14 27.71,-45.62 25.29,-47.17 C22.88,-48.72 21.67,-51.02 21.67,-54.07 C21.67,-57.31 22.97,-59.93 25.57,-61.93 C28.16,-63.94 31.76,-64.94 36.37,-64.94 C40.83,-64.94 44.54,-63.69 47.48,-61.18 C50.42,-58.67 51.89,-55.69 51.89,-52.23 C51.89,-52.23 64.6,-52.23 64.6,-52.23 C64.6,-58.97 61.99,-64.51 56.77,-68.84 C51.55,-73.17 44.75,-75.33 36.37,-75.33 C28.39,-75.33 21.84,-73.24 16.71,-69.04 C11.59,-64.85 9.02,-59.72 9.02,-53.66 C9.02,-50.01 9.92,-46.87 11.72,-44.23 C13.52,-41.59 16.3,-39.31 20.06,-37.39 C23.82,-35.48 28.9,-33.84 35.31,-32.47 C41.71,-31.1 46.2,-29.47 48.77,-27.58 C51.35,-25.69 52.64,-23.04 52.64,-19.62 C52.64,-16.38 51.19,-13.8 48.3,-11.86z"
          transform="matrix(1,0,0,1,0,0)"
          opacity="0"
          style="display: inherit;"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M24.2,-15.86 C20.69,-20.46 18.93,-27.03 18.93,-35.55 C18.93,-35.55 18.93,-37.94 18.93,-37.94 C18.93,-46.69 20.7,-53.38 24.23,-58 C27.76,-62.63 32.74,-64.94 39.17,-64.94 C43.96,-64.94 47.98,-63.4 51.24,-60.33 C54.49,-57.25 56.31,-53.32 56.67,-48.54 C56.67,-48.54 68.63,-48.54 68.63,-48.54 C68.27,-56.46 65.34,-62.91 59.85,-67.88 C54.36,-72.85 47.46,-75.33 39.17,-75.33 C32.43,-75.33 26.58,-73.78 21.64,-70.68 C16.69,-67.58 12.9,-63.23 10.25,-57.63 C7.61,-52.02 6.29,-45.62 6.29,-38.42 C6.29,-38.42 6.29,-36.3 6.29,-36.3 C6.29,-24.63 9.26,-15.44 15.21,-8.72 C21.16,-1.99 29.16,1.37 39.24,1.37 C44.25,1.37 49,0.23 53.49,-2.05 C57.98,-4.33 61.57,-7.38 64.26,-11.21 C66.95,-15.04 68.4,-19.07 68.63,-23.31 C68.63,-23.31 56.67,-23.31 56.67,-23.31 C56.31,-19.21 54.44,-15.79 51.06,-13.06 C47.69,-10.32 43.75,-8.95 39.24,-8.95 C32.72,-8.95 27.71,-11.26 24.2,-15.86z"
          transform="matrix(1,0,0,1,74.84400177001953,0)"
          opacity="0"
          style="display: inherit;"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M45.32,-74.37 C44.05,-75.01 42.18,-75.33 39.72,-75.33 C32.1,-75.33 26.23,-72.03 22.08,-65.42 C22.08,-65.42 21.87,-73.96 21.87,-73.96 C21.87,-73.96 9.57,-73.96 9.57,-73.96 C9.57,-73.96 9.57,0 9.57,0 C9.57,0 22.22,0 22.22,0 C22.22,0 22.22,-52.5 22.22,-52.5 C25.18,-59.56 30.81,-63.1 39.1,-63.1 C41.33,-63.1 43.41,-62.94 45.32,-62.62 C45.32,-62.62 45.32,-74.37 45.32,-74.37z"
          transform="matrix(1,0,0,1,150.77999877929688,0)"
          opacity="0"
          style="display: inherit;"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M68.15,-12.92 C68.15,-12.92 60.43,-18.93 60.43,-18.93 C58.11,-15.93 55.39,-13.51 52.3,-11.69 C49.2,-9.87 45.41,-8.95 40.95,-8.95 C34.66,-8.95 29.47,-11.2 25.4,-15.69 C21.32,-20.18 19.19,-26.07 19,-33.36 C19,-33.36 69.11,-33.36 69.11,-33.36 C69.11,-33.36 69.11,-38.62 69.11,-38.62 C69.11,-50.43 66.45,-59.49 61.11,-65.83 C55.78,-72.16 48.31,-75.33 38.69,-75.33 C32.81,-75.33 27.35,-73.7 22.32,-70.44 C17.28,-67.18 13.36,-62.67 10.56,-56.91 C7.76,-51.14 6.36,-44.59 6.36,-37.26 C6.36,-37.26 6.36,-34.93 6.36,-34.93 C6.36,-23.9 9.5,-15.1 15.79,-8.51 C22.08,-1.92 30.24,1.37 40.26,1.37 C52.66,1.37 61.96,-3.39 68.15,-12.92z M51.27,-59.64 C54.37,-56.11 56.1,-51.13 56.46,-44.71 C56.46,-44.71 56.46,-43.75 56.46,-43.75 C56.46,-43.75 19.41,-43.75 19.41,-43.75 C20.23,-50.45 22.38,-55.65 25.84,-59.37 C29.3,-63.08 33.59,-64.94 38.69,-64.94 C43.98,-64.94 48.17,-63.17 51.27,-59.64z"
          transform="matrix(1,0,0,1,200.8159942626953,0)"
          opacity="0"
          style="display: inherit;"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M68.15,-12.92 C68.15,-12.92 60.43,-18.93 60.43,-18.93 C58.11,-15.93 55.39,-13.51 52.3,-11.69 C49.2,-9.87 45.41,-8.95 40.95,-8.95 C34.66,-8.95 29.47,-11.2 25.4,-15.69 C21.32,-20.18 19.19,-26.07 19,-33.36 C19,-33.36 69.11,-33.36 69.11,-33.36 C69.11,-33.36 69.11,-38.62 69.11,-38.62 C69.11,-50.43 66.45,-59.49 61.11,-65.83 C55.78,-72.16 48.31,-75.33 38.69,-75.33 C32.81,-75.33 27.35,-73.7 22.32,-70.44 C17.28,-67.18 13.36,-62.67 10.56,-56.91 C7.76,-51.14 6.36,-44.59 6.36,-37.26 C6.36,-37.26 6.36,-34.93 6.36,-34.93 C6.36,-23.9 9.5,-15.1 15.79,-8.51 C22.08,-1.92 30.24,1.37 40.26,1.37 C52.66,1.37 61.96,-3.39 68.15,-12.92z M51.27,-59.64 C54.37,-56.11 56.1,-51.13 56.46,-44.71 C56.46,-44.71 56.46,-43.75 56.46,-43.75 C56.46,-43.75 19.41,-43.75 19.41,-43.75 C20.23,-50.45 22.38,-55.65 25.84,-59.37 C29.3,-63.08 33.59,-64.94 38.69,-64.94 C43.98,-64.94 48.17,-63.17 51.27,-59.64z"
          transform="matrix(1,0,0,1,277.64801025390625,0)"
          opacity="0"
          style="display: inherit;"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M9.57,-73.96 C9.57,-73.96 9.57,0 9.57,0 C9.57,0 22.22,0 22.22,0 C22.22,0 22.22,-52.7 22.22,-52.7 C23.95,-56.26 26.36,-59.13 29.46,-61.32 C32.56,-63.51 36.16,-64.6 40.26,-64.6 C45.32,-64.6 49.05,-63.32 51.44,-60.77 C53.83,-58.22 55.05,-54.28 55.1,-48.95 C55.1,-48.95 55.1,0 55.1,0 C55.1,0 67.74,0 67.74,0 C67.74,0 67.74,-48.88 67.74,-48.88 C67.61,-66.51 59.72,-75.33 44.09,-75.33 C34.98,-75.33 27.59,-71.78 21.94,-64.67 C21.94,-64.67 21.53,-73.96 21.53,-73.96 C21.53,-73.96 9.57,-73.96 9.57,-73.96z"
          transform="matrix(1,0,0,1,354.4800109863281,0)"
          opacity="0"
          style="display: inherit;"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M23.31,-105 C23.31,-105 10.66,-105 10.66,-105 C10.66,-105 10.66,0 10.66,0 C10.66,0 23.31,0 23.31,0 C23.31,0 23.31,-105 23.31,-105z"
          transform="matrix(1,0,0,1,434.3919982910156,0)"
          opacity="0"
          style="display: inherit;"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M23.31,-73.96 C23.31,-73.96 10.66,-73.96 10.66,-73.96 C10.66,-73.96 10.66,0 10.66,0 C10.66,0 23.31,0 23.31,0 C23.31,0 23.31,-73.96 23.31,-73.96z M11.52,-88.46 C12.77,-87.09 14.63,-86.41 17.09,-86.41 C19.55,-86.41 21.42,-87.09 22.7,-88.46 C23.97,-89.83 24.61,-91.53 24.61,-93.58 C24.61,-95.64 23.97,-97.37 22.7,-98.78 C21.42,-100.19 19.55,-100.9 17.09,-100.9 C14.63,-100.9 12.77,-100.19 11.52,-98.78 C10.26,-97.37 9.64,-95.64 9.64,-93.58 C9.64,-91.53 10.26,-89.83 11.52,-88.46z"
          transform="matrix(1,0,0,1,471.0299987792969,0)"
          opacity="0"
          style="display: inherit;"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M28.44,0 C28.44,0 28.44,-64.19 28.44,-64.19 C28.44,-64.19 44.23,-64.19 44.23,-64.19 C44.23,-64.19 44.23,-73.96 44.23,-73.96 C44.23,-73.96 28.44,-73.96 28.44,-73.96 C28.44,-73.96 28.44,-81.78 28.44,-81.78 C28.44,-86.26 29.55,-89.7 31.79,-92.1 C34.02,-94.5 37.19,-95.7 41.29,-95.7 C43.7,-95.7 45.98,-95.5 48.12,-95.09 C48.12,-95.09 48.81,-105.28 48.81,-105.28 C45.94,-106.05 43.04,-106.43 40.13,-106.43 C32.38,-106.43 26.39,-104.27 22.15,-99.94 C17.91,-95.61 15.79,-89.48 15.79,-81.55 C15.79,-81.55 15.79,-73.96 15.79,-73.96 C15.79,-73.96 4.1,-73.96 4.1,-73.96 C4.1,-73.96 4.1,-64.19 4.1,-64.19 C4.1,-64.19 15.79,-64.19 15.79,-64.19 C15.79,-64.19 15.79,0 15.79,0 C15.79,0 28.44,0 28.44,0z"
          transform="matrix(1,0,0,1,507.6679992675781,0)"
          opacity="0"
          style="display: inherit;"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M68.15,-12.92 C68.15,-12.92 60.43,-18.93 60.43,-18.93 C58.11,-15.93 55.39,-13.51 52.3,-11.69 C49.2,-9.87 45.41,-8.95 40.95,-8.95 C34.66,-8.95 29.47,-11.2 25.4,-15.69 C21.32,-20.18 19.19,-26.07 19,-33.36 C19,-33.36 69.11,-33.36 69.11,-33.36 C69.11,-33.36 69.11,-38.62 69.11,-38.62 C69.11,-50.43 66.45,-59.49 61.11,-65.83 C55.78,-72.16 48.31,-75.33 38.69,-75.33 C32.81,-75.33 27.35,-73.7 22.32,-70.44 C17.28,-67.18 13.36,-62.67 10.56,-56.91 C7.76,-51.14 6.36,-44.59 6.36,-37.26 C6.36,-37.26 6.36,-34.93 6.36,-34.93 C6.36,-23.9 9.5,-15.1 15.79,-8.51 C22.08,-1.92 30.24,1.37 40.26,1.37 C52.66,1.37 61.96,-3.39 68.15,-12.92z M51.27,-59.64 C54.37,-56.11 56.1,-51.13 56.46,-44.71 C56.46,-44.71 56.46,-43.75 56.46,-43.75 C56.46,-43.75 19.41,-43.75 19.41,-43.75 C20.23,-50.45 22.38,-55.65 25.84,-59.37 C29.3,-63.08 33.59,-64.94 38.69,-64.94 C43.98,-64.94 48.17,-63.17 51.27,-59.64z"
          transform="matrix(1,0,0,1,558.9359741210938,0)"
          opacity="0"
          style="display: inherit;"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M45.32,-74.37 C44.05,-75.01 42.18,-75.33 39.72,-75.33 C32.1,-75.33 26.23,-72.03 22.08,-65.42 C22.08,-65.42 21.87,-73.96 21.87,-73.96 C21.87,-73.96 9.57,-73.96 9.57,-73.96 C9.57,-73.96 9.57,0 9.57,0 C9.57,0 22.22,0 22.22,0 C22.22,0 22.22,-52.5 22.22,-52.5 C25.18,-59.56 30.81,-63.1 39.1,-63.1 C41.33,-63.1 43.41,-62.94 45.32,-62.62 C45.32,-62.62 45.32,-74.37 45.32,-74.37z"
          transform="matrix(1,0,0,1,635.7680053710938,0)"
          opacity="1.1102230246251565e-16"
          style="display: inherit;"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="screenlifer "
        style="display: block;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,38.75898742675781,24.41900634765625)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M48.3,-11.86 C45.4,-9.92 41.56,-8.95 36.78,-8.95 C31.58,-8.95 27.4,-10.2 24.23,-12.68 C21.07,-15.16 19.37,-18.53 19.14,-22.76 C19.14,-22.76 6.49,-22.76 6.49,-22.76 C6.49,-18.39 7.78,-14.32 10.36,-10.56 C12.93,-6.8 16.5,-3.87 21.05,-1.78 C25.61,0.32 30.85,1.37 36.78,1.37 C45.21,1.37 52.07,-0.63 57.35,-4.61 C62.64,-8.6 65.28,-13.9 65.28,-20.51 C65.28,-24.47 64.34,-27.83 62.45,-30.59 C60.55,-33.35 57.65,-35.71 53.73,-37.67 C49.81,-39.62 44.69,-41.31 38.38,-42.73 C32.07,-44.14 27.71,-45.62 25.29,-47.17 C22.88,-48.72 21.67,-51.02 21.67,-54.07 C21.67,-57.31 22.97,-59.93 25.57,-61.93 C28.16,-63.94 31.76,-64.94 36.37,-64.94 C40.83,-64.94 44.54,-63.69 47.48,-61.18 C50.42,-58.67 51.89,-55.69 51.89,-52.23 C51.89,-52.23 64.6,-52.23 64.6,-52.23 C64.6,-58.97 61.99,-64.51 56.77,-68.84 C51.55,-73.17 44.75,-75.33 36.37,-75.33 C28.39,-75.33 21.84,-73.24 16.71,-69.04 C11.59,-64.85 9.02,-59.72 9.02,-53.66 C9.02,-50.01 9.92,-46.87 11.72,-44.23 C13.52,-41.59 16.3,-39.31 20.06,-37.39 C23.82,-35.48 28.9,-33.84 35.31,-32.47 C41.71,-31.1 46.2,-29.47 48.77,-27.58 C51.35,-25.69 52.64,-23.04 52.64,-19.62 C52.64,-16.38 51.19,-13.8 48.3,-11.86z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,0,0)"
          opacity="1"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M24.2,-15.86 C20.69,-20.46 18.93,-27.03 18.93,-35.55 C18.93,-35.55 18.93,-37.94 18.93,-37.94 C18.93,-46.69 20.7,-53.38 24.23,-58 C27.76,-62.63 32.74,-64.94 39.17,-64.94 C43.96,-64.94 47.98,-63.4 51.24,-60.33 C54.49,-57.25 56.31,-53.32 56.67,-48.54 C56.67,-48.54 68.63,-48.54 68.63,-48.54 C68.27,-56.46 65.34,-62.91 59.85,-67.88 C54.36,-72.85 47.46,-75.33 39.17,-75.33 C32.43,-75.33 26.58,-73.78 21.64,-70.68 C16.69,-67.58 12.9,-63.23 10.25,-57.63 C7.61,-52.02 6.29,-45.62 6.29,-38.42 C6.29,-38.42 6.29,-36.3 6.29,-36.3 C6.29,-24.63 9.26,-15.44 15.21,-8.72 C21.16,-1.99 29.16,1.37 39.24,1.37 C44.25,1.37 49,0.23 53.49,-2.05 C57.98,-4.33 61.57,-7.38 64.26,-11.21 C66.95,-15.04 68.4,-19.07 68.63,-23.31 C68.63,-23.31 56.67,-23.31 56.67,-23.31 C56.31,-19.21 54.44,-15.79 51.06,-13.06 C47.69,-10.32 43.75,-8.95 39.24,-8.95 C32.72,-8.95 27.71,-11.26 24.2,-15.86z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,74.84400177001953,0)"
          opacity="1"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M45.32,-74.37 C44.05,-75.01 42.18,-75.33 39.72,-75.33 C32.1,-75.33 26.23,-72.03 22.08,-65.42 C22.08,-65.42 21.87,-73.96 21.87,-73.96 C21.87,-73.96 9.57,-73.96 9.57,-73.96 C9.57,-73.96 9.57,0 9.57,0 C9.57,0 22.22,0 22.22,0 C22.22,0 22.22,-52.5 22.22,-52.5 C25.18,-59.56 30.81,-63.1 39.1,-63.1 C41.33,-63.1 43.41,-62.94 45.32,-62.62 C45.32,-62.62 45.32,-74.37 45.32,-74.37z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,150.77999877929688,0)"
          opacity="1"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M68.15,-12.92 C68.15,-12.92 60.43,-18.93 60.43,-18.93 C58.11,-15.93 55.39,-13.51 52.3,-11.69 C49.2,-9.87 45.41,-8.95 40.95,-8.95 C34.66,-8.95 29.47,-11.2 25.4,-15.69 C21.32,-20.18 19.19,-26.07 19,-33.36 C19,-33.36 69.11,-33.36 69.11,-33.36 C69.11,-33.36 69.11,-38.62 69.11,-38.62 C69.11,-50.43 66.45,-59.49 61.11,-65.83 C55.78,-72.16 48.31,-75.33 38.69,-75.33 C32.81,-75.33 27.35,-73.7 22.32,-70.44 C17.28,-67.18 13.36,-62.67 10.56,-56.91 C7.76,-51.14 6.36,-44.59 6.36,-37.26 C6.36,-37.26 6.36,-34.93 6.36,-34.93 C6.36,-23.9 9.5,-15.1 15.79,-8.51 C22.08,-1.92 30.24,1.37 40.26,1.37 C52.66,1.37 61.96,-3.39 68.15,-12.92z M51.27,-59.64 C54.37,-56.11 56.1,-51.13 56.46,-44.71 C56.46,-44.71 56.46,-43.75 56.46,-43.75 C56.46,-43.75 19.41,-43.75 19.41,-43.75 C20.23,-50.45 22.38,-55.65 25.84,-59.37 C29.3,-63.08 33.59,-64.94 38.69,-64.94 C43.98,-64.94 48.17,-63.17 51.27,-59.64z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,200.8159942626953,0)"
          opacity="1"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M68.15,-12.92 C68.15,-12.92 60.43,-18.93 60.43,-18.93 C58.11,-15.93 55.39,-13.51 52.3,-11.69 C49.2,-9.87 45.41,-8.95 40.95,-8.95 C34.66,-8.95 29.47,-11.2 25.4,-15.69 C21.32,-20.18 19.19,-26.07 19,-33.36 C19,-33.36 69.11,-33.36 69.11,-33.36 C69.11,-33.36 69.11,-38.62 69.11,-38.62 C69.11,-50.43 66.45,-59.49 61.11,-65.83 C55.78,-72.16 48.31,-75.33 38.69,-75.33 C32.81,-75.33 27.35,-73.7 22.32,-70.44 C17.28,-67.18 13.36,-62.67 10.56,-56.91 C7.76,-51.14 6.36,-44.59 6.36,-37.26 C6.36,-37.26 6.36,-34.93 6.36,-34.93 C6.36,-23.9 9.5,-15.1 15.79,-8.51 C22.08,-1.92 30.24,1.37 40.26,1.37 C52.66,1.37 61.96,-3.39 68.15,-12.92z M51.27,-59.64 C54.37,-56.11 56.1,-51.13 56.46,-44.71 C56.46,-44.71 56.46,-43.75 56.46,-43.75 C56.46,-43.75 19.41,-43.75 19.41,-43.75 C20.23,-50.45 22.38,-55.65 25.84,-59.37 C29.3,-63.08 33.59,-64.94 38.69,-64.94 C43.98,-64.94 48.17,-63.17 51.27,-59.64z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,277.64801025390625,0)"
          opacity="1"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M9.57,-73.96 C9.57,-73.96 9.57,0 9.57,0 C9.57,0 22.22,0 22.22,0 C22.22,0 22.22,-52.7 22.22,-52.7 C23.95,-56.26 26.36,-59.13 29.46,-61.32 C32.56,-63.51 36.16,-64.6 40.26,-64.6 C45.32,-64.6 49.05,-63.32 51.44,-60.77 C53.83,-58.22 55.05,-54.28 55.1,-48.95 C55.1,-48.95 55.1,0 55.1,0 C55.1,0 67.74,0 67.74,0 C67.74,0 67.74,-48.88 67.74,-48.88 C67.61,-66.51 59.72,-75.33 44.09,-75.33 C34.98,-75.33 27.59,-71.78 21.94,-64.67 C21.94,-64.67 21.53,-73.96 21.53,-73.96 C21.53,-73.96 9.57,-73.96 9.57,-73.96z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,354.4800109863281,0)"
          opacity="1"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M23.31,-105 C23.31,-105 10.66,-105 10.66,-105 C10.66,-105 10.66,0 10.66,0 C10.66,0 23.31,0 23.31,0 C23.31,0 23.31,-105 23.31,-105z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,434.3919982910156,0)"
          opacity="0.389749928449982"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M23.31,-73.96 C23.31,-73.96 10.66,-73.96 10.66,-73.96 C10.66,-73.96 10.66,0 10.66,0 C10.66,0 23.31,0 23.31,0 C23.31,0 23.31,-73.96 23.31,-73.96z M11.52,-88.46 C12.77,-87.09 14.63,-86.41 17.09,-86.41 C19.55,-86.41 21.42,-87.09 22.7,-88.46 C23.97,-89.83 24.61,-91.53 24.61,-93.58 C24.61,-95.64 23.97,-97.37 22.7,-98.78 C21.42,-100.19 19.55,-100.9 17.09,-100.9 C14.63,-100.9 12.77,-100.19 11.52,-98.78 C10.26,-97.37 9.64,-95.64 9.64,-93.58 C9.64,-91.53 10.26,-89.83 11.52,-88.46z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,471.0299987792969,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M28.44,0 C28.44,0 28.44,-64.19 28.44,-64.19 C28.44,-64.19 44.23,-64.19 44.23,-64.19 C44.23,-64.19 44.23,-73.96 44.23,-73.96 C44.23,-73.96 28.44,-73.96 28.44,-73.96 C28.44,-73.96 28.44,-81.78 28.44,-81.78 C28.44,-86.26 29.55,-89.7 31.79,-92.1 C34.02,-94.5 37.19,-95.7 41.29,-95.7 C43.7,-95.7 45.98,-95.5 48.12,-95.09 C48.12,-95.09 48.81,-105.28 48.81,-105.28 C45.94,-106.05 43.04,-106.43 40.13,-106.43 C32.38,-106.43 26.39,-104.27 22.15,-99.94 C17.91,-95.61 15.79,-89.48 15.79,-81.55 C15.79,-81.55 15.79,-73.96 15.79,-73.96 C15.79,-73.96 4.1,-73.96 4.1,-73.96 C4.1,-73.96 4.1,-64.19 4.1,-64.19 C4.1,-64.19 15.79,-64.19 15.79,-64.19 C15.79,-64.19 15.79,0 15.79,0 C15.79,0 28.44,0 28.44,0z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,507.6679992675781,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M68.15,-12.92 C68.15,-12.92 60.43,-18.93 60.43,-18.93 C58.11,-15.93 55.39,-13.51 52.3,-11.69 C49.2,-9.87 45.41,-8.95 40.95,-8.95 C34.66,-8.95 29.47,-11.2 25.4,-15.69 C21.32,-20.18 19.19,-26.07 19,-33.36 C19,-33.36 69.11,-33.36 69.11,-33.36 C69.11,-33.36 69.11,-38.62 69.11,-38.62 C69.11,-50.43 66.45,-59.49 61.11,-65.83 C55.78,-72.16 48.31,-75.33 38.69,-75.33 C32.81,-75.33 27.35,-73.7 22.32,-70.44 C17.28,-67.18 13.36,-62.67 10.56,-56.91 C7.76,-51.14 6.36,-44.59 6.36,-37.26 C6.36,-37.26 6.36,-34.93 6.36,-34.93 C6.36,-23.9 9.5,-15.1 15.79,-8.51 C22.08,-1.92 30.24,1.37 40.26,1.37 C52.66,1.37 61.96,-3.39 68.15,-12.92z M51.27,-59.64 C54.37,-56.11 56.1,-51.13 56.46,-44.71 C56.46,-44.71 56.46,-43.75 56.46,-43.75 C56.46,-43.75 19.41,-43.75 19.41,-43.75 C20.23,-50.45 22.38,-55.65 25.84,-59.37 C29.3,-63.08 33.59,-64.94 38.69,-64.94 C43.98,-64.94 48.17,-63.17 51.27,-59.64z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,558.9359741210938,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M45.32,-74.37 C44.05,-75.01 42.18,-75.33 39.72,-75.33 C32.1,-75.33 26.23,-72.03 22.08,-65.42 C22.08,-65.42 21.87,-73.96 21.87,-73.96 C21.87,-73.96 9.57,-73.96 9.57,-73.96 C9.57,-73.96 9.57,0 9.57,0 C9.57,0 22.22,0 22.22,0 C22.22,0 22.22,-52.5 22.22,-52.5 C25.18,-59.56 30.81,-63.1 39.1,-63.1 C41.33,-63.1 43.41,-62.94 45.32,-62.62 C45.32,-62.62 45.32,-74.37 45.32,-74.37z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,635.7680053710938,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=""
          style="display: inherit;"
          transform="matrix(1,0,0,1,685.803955078125,0)"
          opacity="0"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="er"
        style="display: none;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,130.99807739257812,24.57916259765625)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M68.15,-12.92 C68.15,-12.92 60.43,-18.93 60.43,-18.93 C58.11,-15.93 55.39,-13.51 52.3,-11.69 C49.2,-9.87 45.41,-8.95 40.95,-8.95 C34.66,-8.95 29.47,-11.2 25.4,-15.69 C21.32,-20.18 19.19,-26.07 19,-33.36 C19,-33.36 69.11,-33.36 69.11,-33.36 C69.11,-33.36 69.11,-38.62 69.11,-38.62 C69.11,-50.43 66.45,-59.49 61.11,-65.83 C55.78,-72.16 48.31,-75.33 38.69,-75.33 C32.81,-75.33 27.35,-73.7 22.32,-70.44 C17.28,-67.18 13.36,-62.67 10.56,-56.91 C7.76,-51.14 6.36,-44.59 6.36,-37.26 C6.36,-37.26 6.36,-34.93 6.36,-34.93 C6.36,-23.9 9.5,-15.1 15.79,-8.51 C22.08,-1.92 30.24,1.37 40.26,1.37 C52.66,1.37 61.96,-3.39 68.15,-12.92z M51.27,-59.64 C54.37,-56.11 56.1,-51.13 56.46,-44.71 C56.46,-44.71 56.46,-43.75 56.46,-43.75 C56.46,-43.75 19.41,-43.75 19.41,-43.75 C20.23,-50.45 22.38,-55.65 25.84,-59.37 C29.3,-63.08 33.59,-64.94 38.69,-64.94 C43.98,-64.94 48.17,-63.17 51.27,-59.64z M122.15,-74.37 C120.88,-75.01 119.01,-75.33 116.55,-75.33 C108.94,-75.33 103.06,-72.03 98.91,-65.42 C98.91,-65.42 98.71,-73.96 98.71,-73.96 C98.71,-73.96 86.4,-73.96 86.4,-73.96 C86.4,-73.96 86.4,0 86.4,0 C86.4,0 99.05,0 99.05,0 C99.05,0 99.05,-52.5 99.05,-52.5 C102.01,-59.56 107.64,-63.1 115.93,-63.1 C118.17,-63.1 120.24,-62.94 122.15,-62.62 C122.15,-62.62 122.15,-74.37 122.15,-74.37z"
          style="display: inherit;"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="f"
        style="display: none;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,123.08076477050781,24.578460693359375)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M28.44,0 C28.44,0 28.44,-64.19 28.44,-64.19 C28.44,-64.19 44.23,-64.19 44.23,-64.19 C44.23,-64.19 44.23,-73.96 44.23,-73.96 C44.23,-73.96 28.44,-73.96 28.44,-73.96 C28.44,-73.96 28.44,-81.78 28.44,-81.78 C28.44,-86.26 29.55,-89.7 31.79,-92.1 C34.02,-94.5 37.19,-95.7 41.29,-95.7 C43.7,-95.7 45.98,-95.5 48.12,-95.09 C48.12,-95.09 48.81,-105.28 48.81,-105.28 C45.94,-106.05 43.04,-106.43 40.13,-106.43 C32.38,-106.43 26.39,-104.27 22.15,-99.94 C17.91,-95.61 15.79,-89.48 15.79,-81.55 C15.79,-81.55 15.79,-73.96 15.79,-73.96 C15.79,-73.96 4.1,-73.96 4.1,-73.96 C4.1,-73.96 4.1,-64.19 4.1,-64.19 C4.1,-64.19 15.79,-64.19 15.79,-64.19 C15.79,-64.19 15.79,0 15.79,0 C15.79,0 28.44,0 28.44,0z"
          style="display: inherit;"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="i"
        style="display: none;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,117.20201110839844,24.578399658203125)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M23.31,-73.96 C23.31,-73.96 10.66,-73.96 10.66,-73.96 C10.66,-73.96 10.66,0 10.66,0 C10.66,0 23.31,0 23.31,0 C23.31,0 23.31,-73.96 23.31,-73.96z M11.52,-88.46 C12.77,-87.09 14.63,-86.41 17.09,-86.41 C19.55,-86.41 21.42,-87.09 22.7,-88.46 C23.97,-89.83 24.61,-91.53 24.61,-93.58 C24.61,-95.64 23.97,-97.37 22.7,-98.78 C21.42,-100.19 19.55,-100.9 17.09,-100.9 C14.63,-100.9 12.77,-100.19 11.52,-98.78 C10.26,-97.37 9.64,-95.64 9.64,-93.58 C9.64,-91.53 10.26,-89.83 11.52,-88.46z"
          style="display: inherit;"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="l"
        style="display: none;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,111.32400512695312,24.578399658203125)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M23.31,-105 C23.31,-105 10.66,-105 10.66,-105 C10.66,-105 10.66,0 10.66,0 C10.66,0 23.31,0 23.31,0 C23.31,0 23.31,-105 23.31,-105z"
          style="display: inherit;"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="n"
        style="display: none;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,97.62559509277344,24.5792236328125)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M9.57,-73.96 C9.57,-73.96 9.57,0 9.57,0 C9.57,0 22.22,0 22.22,0 C22.22,0 22.22,-52.7 22.22,-52.7 C23.95,-56.26 26.36,-59.13 29.46,-61.32 C32.56,-63.51 36.16,-64.6 40.26,-64.6 C45.32,-64.6 49.05,-63.32 51.44,-60.77 C53.83,-58.22 55.05,-54.28 55.1,-48.95 C55.1,-48.95 55.1,0 55.1,0 C55.1,0 67.74,0 67.74,0 C67.74,0 67.74,-48.88 67.74,-48.88 C67.61,-66.51 59.72,-75.33 44.09,-75.33 C34.98,-75.33 27.59,-71.78 21.94,-64.67 C21.94,-64.67 21.53,-73.96 21.53,-73.96 C21.53,-73.96 9.57,-73.96 9.57,-73.96z"
          style="display: inherit;"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="e"
        style="display: none;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,84.94708251953125,24.57916259765625)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M68.15,-12.92 C68.15,-12.92 60.43,-18.93 60.43,-18.93 C58.11,-15.93 55.39,-13.51 52.3,-11.69 C49.2,-9.87 45.41,-8.95 40.95,-8.95 C34.66,-8.95 29.47,-11.2 25.4,-15.69 C21.32,-20.18 19.19,-26.07 19,-33.36 C19,-33.36 69.11,-33.36 69.11,-33.36 C69.11,-33.36 69.11,-38.62 69.11,-38.62 C69.11,-50.43 66.45,-59.49 61.11,-65.83 C55.78,-72.16 48.31,-75.33 38.69,-75.33 C32.81,-75.33 27.35,-73.7 22.32,-70.44 C17.28,-67.18 13.36,-62.67 10.56,-56.91 C7.76,-51.14 6.36,-44.59 6.36,-37.26 C6.36,-37.26 6.36,-34.93 6.36,-34.93 C6.36,-23.9 9.5,-15.1 15.79,-8.51 C22.08,-1.92 30.24,1.37 40.26,1.37 C52.66,1.37 61.96,-3.39 68.15,-12.92z M51.27,-59.64 C54.37,-56.11 56.1,-51.13 56.46,-44.71 C56.46,-44.71 56.46,-43.75 56.46,-43.75 C56.46,-43.75 19.41,-43.75 19.41,-43.75 C20.23,-50.45 22.38,-55.65 25.84,-59.37 C29.3,-63.08 33.59,-64.94 38.69,-64.94 C43.98,-64.94 48.17,-63.17 51.27,-59.64z"
          style="display: inherit;"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="e"
        style="display: none;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,72.26908874511719,24.57916259765625)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M68.15,-12.92 C68.15,-12.92 60.43,-18.93 60.43,-18.93 C58.11,-15.93 55.39,-13.51 52.3,-11.69 C49.2,-9.87 45.41,-8.95 40.95,-8.95 C34.66,-8.95 29.47,-11.2 25.4,-15.69 C21.32,-20.18 19.19,-26.07 19,-33.36 C19,-33.36 69.11,-33.36 69.11,-33.36 C69.11,-33.36 69.11,-38.62 69.11,-38.62 C69.11,-50.43 66.45,-59.49 61.11,-65.83 C55.78,-72.16 48.31,-75.33 38.69,-75.33 C32.81,-75.33 27.35,-73.7 22.32,-70.44 C17.28,-67.18 13.36,-62.67 10.56,-56.91 C7.76,-51.14 6.36,-44.59 6.36,-37.26 C6.36,-37.26 6.36,-34.93 6.36,-34.93 C6.36,-23.9 9.5,-15.1 15.79,-8.51 C22.08,-1.92 30.24,1.37 40.26,1.37 C52.66,1.37 61.96,-3.39 68.15,-12.92z M51.27,-59.64 C54.37,-56.11 56.1,-51.13 56.46,-44.71 C56.46,-44.71 56.46,-43.75 56.46,-43.75 C56.46,-43.75 19.41,-43.75 19.41,-43.75 C20.23,-50.45 22.38,-55.65 25.84,-59.37 C29.3,-63.08 33.59,-64.94 38.69,-64.94 C43.98,-64.94 48.17,-63.17 51.27,-59.64z"
          style="display: inherit;"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="r"
        style="display: none;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,63.84033203125,24.5792236328125)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M45.32,-74.37 C44.05,-75.01 42.18,-75.33 39.72,-75.33 C32.1,-75.33 26.23,-72.03 22.08,-65.42 C22.08,-65.42 21.87,-73.96 21.87,-73.96 C21.87,-73.96 9.57,-73.96 9.57,-73.96 C9.57,-73.96 9.57,0 9.57,0 C9.57,0 22.22,0 22.22,0 C22.22,0 22.22,-52.5 22.22,-52.5 C25.18,-59.56 30.81,-63.1 39.1,-63.1 C41.33,-63.1 43.41,-62.94 45.32,-62.62 C45.32,-62.62 45.32,-74.37 45.32,-74.37z"
          style="display: inherit;"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="c"
        style="display: none;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,51.161834716796875,24.57916259765625)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M24.2,-15.86 C20.69,-20.46 18.93,-27.03 18.93,-35.55 C18.93,-35.55 18.93,-37.94 18.93,-37.94 C18.93,-46.69 20.7,-53.38 24.23,-58 C27.76,-62.63 32.74,-64.94 39.17,-64.94 C43.96,-64.94 47.98,-63.4 51.24,-60.33 C54.49,-57.25 56.31,-53.32 56.67,-48.54 C56.67,-48.54 68.63,-48.54 68.63,-48.54 C68.27,-56.46 65.34,-62.91 59.85,-67.88 C54.36,-72.85 47.46,-75.33 39.17,-75.33 C32.43,-75.33 26.58,-73.78 21.64,-70.68 C16.69,-67.58 12.9,-63.23 10.25,-57.63 C7.61,-52.02 6.29,-45.62 6.29,-38.42 C6.29,-38.42 6.29,-36.3 6.29,-36.3 C6.29,-24.63 9.26,-15.44 15.21,-8.72 C21.16,-1.99 29.16,1.37 39.24,1.37 C44.25,1.37 49,0.23 53.49,-2.05 C57.98,-4.33 61.57,-7.38 64.26,-11.21 C66.95,-15.04 68.4,-19.07 68.63,-23.31 C68.63,-23.31 56.67,-23.31 56.67,-23.31 C56.31,-19.21 54.44,-15.79 51.06,-13.06 C47.69,-10.32 43.75,-8.95 39.24,-8.95 C32.72,-8.95 27.71,-11.26 24.2,-15.86z"
          style="display: inherit;"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="s"
        style="display: none;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,38.65435791015625,24.57916259765625)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M48.3,-11.86 C45.4,-9.92 41.56,-8.95 36.78,-8.95 C31.58,-8.95 27.4,-10.2 24.23,-12.68 C21.07,-15.16 19.37,-18.53 19.14,-22.76 C19.14,-22.76 6.49,-22.76 6.49,-22.76 C6.49,-18.39 7.78,-14.32 10.36,-10.56 C12.93,-6.8 16.5,-3.87 21.05,-1.78 C25.61,0.32 30.85,1.37 36.78,1.37 C45.21,1.37 52.07,-0.63 57.35,-4.61 C62.64,-8.6 65.28,-13.9 65.28,-20.51 C65.28,-24.47 64.34,-27.83 62.45,-30.59 C60.55,-33.35 57.65,-35.71 53.73,-37.67 C49.81,-39.62 44.69,-41.31 38.38,-42.73 C32.07,-44.14 27.71,-45.62 25.29,-47.17 C22.88,-48.72 21.67,-51.02 21.67,-54.07 C21.67,-57.31 22.97,-59.93 25.57,-61.93 C28.16,-63.94 31.76,-64.94 36.37,-64.94 C40.83,-64.94 44.54,-63.69 47.48,-61.18 C50.42,-58.67 51.89,-55.69 51.89,-52.23 C51.89,-52.23 64.6,-52.23 64.6,-52.23 C64.6,-58.97 61.99,-64.51 56.77,-68.84 C51.55,-73.17 44.75,-75.33 36.37,-75.33 C28.39,-75.33 21.84,-73.24 16.71,-69.04 C11.59,-64.85 9.02,-59.72 9.02,-53.66 C9.02,-50.01 9.92,-46.87 11.72,-44.23 C13.52,-41.59 16.3,-39.31 20.06,-37.39 C23.82,-35.48 28.9,-33.84 35.31,-32.47 C41.71,-31.1 46.2,-29.47 48.77,-27.58 C51.35,-25.69 52.64,-23.04 52.64,-19.62 C52.64,-16.38 51.19,-13.8 48.3,-11.86z"
          style="display: inherit;"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="f"
        style="display: none;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,123.08076477050781,24.578460693359375)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M28.44,0 C28.44,0 28.44,-64.19 28.44,-64.19 C28.44,-64.19 44.23,-64.19 44.23,-64.19 C44.23,-64.19 44.23,-73.96 44.23,-73.96 C44.23,-73.96 28.44,-73.96 28.44,-73.96 C28.44,-73.96 28.44,-81.78 28.44,-81.78 C28.44,-86.26 29.55,-89.7 31.79,-92.1 C34.02,-94.5 37.19,-95.7 41.29,-95.7 C43.7,-95.7 45.98,-95.5 48.12,-95.09 C48.12,-95.09 48.81,-105.28 48.81,-105.28 C45.94,-106.05 43.04,-106.43 40.13,-106.43 C32.38,-106.43 26.39,-104.27 22.15,-99.94 C17.91,-95.61 15.79,-89.48 15.79,-81.55 C15.79,-81.55 15.79,-73.96 15.79,-73.96 C15.79,-73.96 4.1,-73.96 4.1,-73.96 C4.1,-73.96 4.1,-64.19 4.1,-64.19 C4.1,-64.19 15.79,-64.19 15.79,-64.19 C15.79,-64.19 15.79,0 15.79,0 C15.79,0 28.44,0 28.44,0z"
          style="display: inherit;"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="i"
        style="display: none;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,117.20201110839844,24.578399658203125)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M23.31,-73.96 C23.31,-73.96 10.66,-73.96 10.66,-73.96 C10.66,-73.96 10.66,0 10.66,0 C10.66,0 23.31,0 23.31,0 C23.31,0 23.31,-73.96 23.31,-73.96z M11.52,-88.46 C12.77,-87.09 14.63,-86.41 17.09,-86.41 C19.55,-86.41 21.42,-87.09 22.7,-88.46 C23.97,-89.83 24.61,-91.53 24.61,-93.58 C24.61,-95.64 23.97,-97.37 22.7,-98.78 C21.42,-100.19 19.55,-100.9 17.09,-100.9 C14.63,-100.9 12.77,-100.19 11.52,-98.78 C10.26,-97.37 9.64,-95.64 9.64,-93.58 C9.64,-91.53 10.26,-89.83 11.52,-88.46z"
          style="display: inherit;"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="l"
        style="display: none;"
        transform="matrix(0.1699969321489334,0,0,0.1699969321489334,111.32405090332031,24.5782470703125)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M23.31,-105 C23.31,-105 10.66,-105 10.66,-105 C10.66,-105 10.66,0 10.66,0 C10.66,0 23.31,0 23.31,0 C23.31,0 23.31,-105 23.31,-105z"
          style="display: inherit;"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="n"
        style="display: none;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,97.62559509277344,24.5792236328125)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M9.57,-73.96 C9.57,-73.96 9.57,0 9.57,0 C9.57,0 22.22,0 22.22,0 C22.22,0 22.22,-52.7 22.22,-52.7 C23.95,-56.26 26.36,-59.13 29.46,-61.32 C32.56,-63.51 36.16,-64.6 40.26,-64.6 C45.32,-64.6 49.05,-63.32 51.44,-60.77 C53.83,-58.22 55.05,-54.28 55.1,-48.95 C55.1,-48.95 55.1,0 55.1,0 C55.1,0 67.74,0 67.74,0 C67.74,0 67.74,-48.88 67.74,-48.88 C67.61,-66.51 59.72,-75.33 44.09,-75.33 C34.98,-75.33 27.59,-71.78 21.94,-64.67 C21.94,-64.67 21.53,-73.96 21.53,-73.96 C21.53,-73.96 9.57,-73.96 9.57,-73.96z"
          style="display: inherit;"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="e"
        style="display: none;"
        transform="matrix(0.16999998688697815,0,0,0.16999998688697815,84.94708251953125,24.57916259765625)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M68.15,-12.92 C68.15,-12.92 60.43,-18.93 60.43,-18.93 C58.11,-15.93 55.39,-13.51 52.3,-11.69 C49.2,-9.87 45.41,-8.95 40.95,-8.95 C34.66,-8.95 29.47,-11.2 25.4,-15.69 C21.32,-20.18 19.19,-26.07 19,-33.36 C19,-33.36 69.11,-33.36 69.11,-33.36 C69.11,-33.36 69.11,-38.62 69.11,-38.62 C69.11,-50.43 66.45,-59.49 61.11,-65.83 C55.78,-72.16 48.31,-75.33 38.69,-75.33 C32.81,-75.33 27.35,-73.7 22.32,-70.44 C17.28,-67.18 13.36,-62.67 10.56,-56.91 C7.76,-51.14 6.36,-44.59 6.36,-37.26 C6.36,-37.26 6.36,-34.93 6.36,-34.93 C6.36,-23.9 9.5,-15.1 15.79,-8.51 C22.08,-1.92 30.24,1.37 40.26,1.37 C52.66,1.37 61.96,-3.39 68.15,-12.92z M51.27,-59.64 C54.37,-56.11 56.1,-51.13 56.46,-44.71 C56.46,-44.71 56.46,-43.75 56.46,-43.75 C56.46,-43.75 19.41,-43.75 19.41,-43.75 C20.23,-50.45 22.38,-55.65 25.84,-59.37 C29.3,-63.08 33.59,-64.94 38.69,-64.94 C43.98,-64.94 48.17,-63.17 51.27,-59.64z"
          style="display: inherit;"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="e"
        style="display: none;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,72.26908874511719,24.57916259765625)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M68.15,-12.92 C68.15,-12.92 60.43,-18.93 60.43,-18.93 C58.11,-15.93 55.39,-13.51 52.3,-11.69 C49.2,-9.87 45.41,-8.95 40.95,-8.95 C34.66,-8.95 29.47,-11.2 25.4,-15.69 C21.32,-20.18 19.19,-26.07 19,-33.36 C19,-33.36 69.11,-33.36 69.11,-33.36 C69.11,-33.36 69.11,-38.62 69.11,-38.62 C69.11,-50.43 66.45,-59.49 61.11,-65.83 C55.78,-72.16 48.31,-75.33 38.69,-75.33 C32.81,-75.33 27.35,-73.7 22.32,-70.44 C17.28,-67.18 13.36,-62.67 10.56,-56.91 C7.76,-51.14 6.36,-44.59 6.36,-37.26 C6.36,-37.26 6.36,-34.93 6.36,-34.93 C6.36,-23.9 9.5,-15.1 15.79,-8.51 C22.08,-1.92 30.24,1.37 40.26,1.37 C52.66,1.37 61.96,-3.39 68.15,-12.92z M51.27,-59.64 C54.37,-56.11 56.1,-51.13 56.46,-44.71 C56.46,-44.71 56.46,-43.75 56.46,-43.75 C56.46,-43.75 19.41,-43.75 19.41,-43.75 C20.23,-50.45 22.38,-55.65 25.84,-59.37 C29.3,-63.08 33.59,-64.94 38.69,-64.94 C43.98,-64.94 48.17,-63.17 51.27,-59.64z"
          style="display: inherit;"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="r"
        style="display: none;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,63.84033203125,24.5792236328125)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M45.32,-74.37 C44.05,-75.01 42.18,-75.33 39.72,-75.33 C32.1,-75.33 26.23,-72.03 22.08,-65.42 C22.08,-65.42 21.87,-73.96 21.87,-73.96 C21.87,-73.96 9.57,-73.96 9.57,-73.96 C9.57,-73.96 9.57,0 9.57,0 C9.57,0 22.22,0 22.22,0 C22.22,0 22.22,-52.5 22.22,-52.5 C25.18,-59.56 30.81,-63.1 39.1,-63.1 C41.33,-63.1 43.41,-62.94 45.32,-62.62 C45.32,-62.62 45.32,-74.37 45.32,-74.37z"
          style="display: inherit;"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="c"
        style="display: none;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,51.161834716796875,24.57916259765625)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M24.2,-15.86 C20.69,-20.46 18.93,-27.03 18.93,-35.55 C18.93,-35.55 18.93,-37.94 18.93,-37.94 C18.93,-46.69 20.7,-53.38 24.23,-58 C27.76,-62.63 32.74,-64.94 39.17,-64.94 C43.96,-64.94 47.98,-63.4 51.24,-60.33 C54.49,-57.25 56.31,-53.32 56.67,-48.54 C56.67,-48.54 68.63,-48.54 68.63,-48.54 C68.27,-56.46 65.34,-62.91 59.85,-67.88 C54.36,-72.85 47.46,-75.33 39.17,-75.33 C32.43,-75.33 26.58,-73.78 21.64,-70.68 C16.69,-67.58 12.9,-63.23 10.25,-57.63 C7.61,-52.02 6.29,-45.62 6.29,-38.42 C6.29,-38.42 6.29,-36.3 6.29,-36.3 C6.29,-24.63 9.26,-15.44 15.21,-8.72 C21.16,-1.99 29.16,1.37 39.24,1.37 C44.25,1.37 49,0.23 53.49,-2.05 C57.98,-4.33 61.57,-7.38 64.26,-11.21 C66.95,-15.04 68.4,-19.07 68.63,-23.31 C68.63,-23.31 56.67,-23.31 56.67,-23.31 C56.31,-19.21 54.44,-15.79 51.06,-13.06 C47.69,-10.32 43.75,-8.95 39.24,-8.95 C32.72,-8.95 27.71,-11.26 24.2,-15.86z"
          style="display: inherit;"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="s"
        style="display: none;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,38.65435791015625,24.57916259765625)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M48.3,-11.86 C45.4,-9.92 41.56,-8.95 36.78,-8.95 C31.58,-8.95 27.4,-10.2 24.23,-12.68 C21.07,-15.16 19.37,-18.53 19.14,-22.76 C19.14,-22.76 6.49,-22.76 6.49,-22.76 C6.49,-18.39 7.78,-14.32 10.36,-10.56 C12.93,-6.8 16.5,-3.87 21.05,-1.78 C25.61,0.32 30.85,1.37 36.78,1.37 C45.21,1.37 52.07,-0.63 57.35,-4.61 C62.64,-8.6 65.28,-13.9 65.28,-20.51 C65.28,-24.47 64.34,-27.83 62.45,-30.59 C60.55,-33.35 57.65,-35.71 53.73,-37.67 C49.81,-39.62 44.69,-41.31 38.38,-42.73 C32.07,-44.14 27.71,-45.62 25.29,-47.17 C22.88,-48.72 21.67,-51.02 21.67,-54.07 C21.67,-57.31 22.97,-59.93 25.57,-61.93 C28.16,-63.94 31.76,-64.94 36.37,-64.94 C40.83,-64.94 44.54,-63.69 47.48,-61.18 C50.42,-58.67 51.89,-55.69 51.89,-52.23 C51.89,-52.23 64.6,-52.23 64.6,-52.23 C64.6,-58.97 61.99,-64.51 56.77,-68.84 C51.55,-73.17 44.75,-75.33 36.37,-75.33 C28.39,-75.33 21.84,-73.24 16.71,-69.04 C11.59,-64.85 9.02,-59.72 9.02,-53.66 C9.02,-50.01 9.92,-46.87 11.72,-44.23 C13.52,-41.59 16.3,-39.31 20.06,-37.39 C23.82,-35.48 28.9,-33.84 35.31,-32.47 C41.71,-31.1 46.2,-29.47 48.77,-27.58 C51.35,-25.69 52.64,-23.04 52.64,-19.62 C52.64,-16.38 51.19,-13.8 48.3,-11.86z"
          style="display: inherit;"
        /></g
      ><g style="display: none;" transform="matrix(0,0,0,0,126.75599670410156,18.05999755859375)" opacity="1"
        ><g opacity="1" transform="matrix(1,0,0,1,-637.9409790039062,-334.0140075683594)"
          ><path
            fill="rgb(0,0,0)"
            fill-opacity="1"
            d=" M0,-24.523500442504883 C13.534520149230957,-24.523500442504883 24.523500442504883,-13.534520149230957 24.523500442504883,0 C24.523500442504883,13.534520149230957 13.534520149230957,24.523500442504883 0,24.523500442504883 C-13.534520149230957,24.523500442504883 -24.523500442504883,13.534520149230957 -24.523500442504883,0 C-24.523500442504883,-13.534520149230957 -13.534520149230957,-24.523500442504883 0,-24.523500442504883z"
          /></g
        ></g
      ><g style="display: none;" transform="matrix(0,0,0,0,116.49198913574219,18.05999755859375)" opacity="1"
        ><g opacity="1" transform="matrix(1,0,0,1,-637.9409790039062,-334.0140075683594)"
          ><path
            fill="rgb(0,0,0)"
            fill-opacity="1"
            d=" M0,-24.523500442504883 C13.534520149230957,-24.523500442504883 24.523500442504883,-13.534520149230957 24.523500442504883,0 C24.523500442504883,13.534520149230957 13.534520149230957,24.523500442504883 0,24.523500442504883 C-13.534520149230957,24.523500442504883 -24.523500442504883,13.534520149230957 -24.523500442504883,0 C-24.523500442504883,-13.534520149230957 -13.534520149230957,-24.523500442504883 0,-24.523500442504883z"
          /></g
        ></g
      ><g
        style="display: none;"
        transform="matrix(0.000004232342689647339,0,0,0.000004232342689647339,106.23069763183594,18.0614013671875)"
        opacity="1"
        ><g opacity="1" transform="matrix(1,0,0,1,-637.9409790039062,-334.0140075683594)"
          ><path
            fill="rgb(0,0,0)"
            fill-opacity="1"
            d=" M0,-24.523500442504883 C13.534520149230957,-24.523500442504883 24.523500442504883,-13.534520149230957 24.523500442504883,0 C24.523500442504883,13.534520149230957 13.534520149230957,24.523500442504883 0,24.523500442504883 C-13.534520149230957,24.523500442504883 -24.523500442504883,13.534520149230957 -24.523500442504883,0 C-24.523500442504883,-13.534520149230957 -13.534520149230957,-24.523500442504883 0,-24.523500442504883z"
          /></g
        ></g
      ><g style="display: none;" transform="matrix(0,0,0,0,95.9639892578125,18.175994873046875)" opacity="1"
        ><g opacity="1" transform="matrix(1,0,0,1,-637.9409790039062,-334.0140075683594)"
          ><path
            fill="rgb(0,0,0)"
            fill-opacity="1"
            d=" M0,-24.523500442504883 C13.534520149230957,-24.523500442504883 24.523500442504883,-13.534520149230957 24.523500442504883,0 C24.523500442504883,13.534520149230957 13.534520149230957,24.523500442504883 0,24.523500442504883 C-13.534520149230957,24.523500442504883 -24.523500442504883,13.534520149230957 -24.523500442504883,0 C-24.523500442504883,-13.534520149230957 -13.534520149230957,-24.523500442504883 0,-24.523500442504883z"
          /></g
        ></g
      ><g style="display: none;" transform="matrix(0,0,0,0,85.69999694824219,18.298004150390625)" opacity="1"
        ><g opacity="1" transform="matrix(1,0,0,1,-637.9409790039062,-334.0140075683594)"
          ><path
            fill="rgb(0,0,0)"
            fill-opacity="1"
            d=" M0,-24.523500442504883 C13.534520149230957,-24.523500442504883 24.523500442504883,-13.534520149230957 24.523500442504883,0 C24.523500442504883,13.534520149230957 13.534520149230957,24.523500442504883 0,24.523500442504883 C-13.534520149230957,24.523500442504883 -24.523500442504883,13.534520149230957 -24.523500442504883,0 C-24.523500442504883,-13.534520149230957 -13.534520149230957,-24.523500442504883 0,-24.523500442504883z"
          /></g
        ></g
      ><g style="display: none;" transform="matrix(0,0,0,0,75.43699645996094,18.298004150390625)" opacity="1"
        ><g opacity="1" transform="matrix(1,0,0,1,-637.9409790039062,-334.0140075683594)"
          ><path
            fill="rgb(0,0,0)"
            fill-opacity="1"
            d=" M0,-24.523500442504883 C13.534520149230957,-24.523500442504883 24.523500442504883,-13.534520149230957 24.523500442504883,0 C24.523500442504883,13.534520149230957 13.534520149230957,24.523500442504883 0,24.523500442504883 C-13.534520149230957,24.523500442504883 -24.523500442504883,13.534520149230957 -24.523500442504883,0 C-24.523500442504883,-13.534520149230957 -13.534520149230957,-24.523500442504883 0,-24.523500442504883z"
          /></g
        ></g
      ><g style="display: none;" transform="matrix(0,0,0,0,65.17298889160156,18.175994873046875)" opacity="1"
        ><g opacity="1" transform="matrix(1,0,0,1,-637.9409790039062,-334.0140075683594)"
          ><path
            fill="rgb(0,0,0)"
            fill-opacity="1"
            d=" M0,-24.523500442504883 C13.534520149230957,-24.523500442504883 24.523500442504883,-13.534520149230957 24.523500442504883,0 C24.523500442504883,13.534520149230957 13.534520149230957,24.523500442504883 0,24.523500442504883 C-13.534520149230957,24.523500442504883 -24.523500442504883,13.534520149230957 -24.523500442504883,0 C-24.523500442504883,-13.534520149230957 -13.534520149230957,-24.523500442504883 0,-24.523500442504883z"
          /></g
        ></g
      ><g style="display: none;" transform="matrix(0,0,0,0,54.90899658203125,18.298004150390625)" opacity="1"
        ><g opacity="1" transform="matrix(1,0,0,1,-637.9409790039062,-334.0140075683594)"
          ><path
            fill="rgb(0,0,0)"
            fill-opacity="1"
            d=" M0,-24.523500442504883 C13.534520149230957,-24.523500442504883 24.523500442504883,-13.534520149230957 24.523500442504883,0 C24.523500442504883,13.534520149230957 13.534520149230957,24.523500442504883 0,24.523500442504883 C-13.534520149230957,24.523500442504883 -24.523500442504883,13.534520149230957 -24.523500442504883,0 C-24.523500442504883,-13.534520149230957 -13.534520149230957,-24.523500442504883 0,-24.523500442504883z"
          /></g
        ></g
      ><g style="display: none;" transform="matrix(0,0,0,0,44.644989013671875,18.298004150390625)" opacity="1"
        ><g opacity="1" transform="matrix(1,0,0,1,-637.9409790039062,-334.0140075683594)"
          ><path
            fill="rgb(0,0,0)"
            fill-opacity="1"
            d=" M0,-24.523500442504883 C13.534520149230957,-24.523500442504883 24.523500442504883,-13.534520149230957 24.523500442504883,0 C24.523500442504883,13.534520149230957 13.534520149230957,24.523500442504883 0,24.523500442504883 C-13.534520149230957,24.523500442504883 -24.523500442504883,13.534520149230957 -24.523500442504883,0 C-24.523500442504883,-13.534520149230957 -13.534520149230957,-24.523500442504883 0,-24.523500442504883z"
          /></g
        ></g
      ><g
        fill="rgb(0,0,0)"
        font-size="140"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label="screenlifer"
        style="display: none;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,38.82417297363281,24.453399658203125)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M48.3,-11.86 C45.4,-9.92 41.56,-8.95 36.78,-8.95 C31.58,-8.95 27.4,-10.2 24.23,-12.68 C21.07,-15.16 19.37,-18.53 19.14,-22.76 C19.14,-22.76 6.49,-22.76 6.49,-22.76 C6.49,-18.39 7.78,-14.32 10.36,-10.56 C12.93,-6.8 16.5,-3.87 21.05,-1.78 C25.61,0.32 30.85,1.37 36.78,1.37 C45.21,1.37 52.07,-0.63 57.35,-4.61 C62.64,-8.6 65.28,-13.9 65.28,-20.51 C65.28,-24.47 64.34,-27.83 62.45,-30.59 C60.55,-33.35 57.65,-35.71 53.73,-37.67 C49.81,-39.62 44.69,-41.31 38.38,-42.73 C32.07,-44.14 27.71,-45.62 25.29,-47.17 C22.88,-48.72 21.67,-51.02 21.67,-54.07 C21.67,-57.31 22.97,-59.93 25.57,-61.93 C28.16,-63.94 31.76,-64.94 36.37,-64.94 C40.83,-64.94 44.54,-63.69 47.48,-61.18 C50.42,-58.67 51.89,-55.69 51.89,-52.23 C51.89,-52.23 64.6,-52.23 64.6,-52.23 C64.6,-58.97 61.99,-64.51 56.77,-68.84 C51.55,-73.17 44.75,-75.33 36.37,-75.33 C28.39,-75.33 21.84,-73.24 16.71,-69.04 C11.59,-64.85 9.02,-59.72 9.02,-53.66 C9.02,-50.01 9.92,-46.87 11.72,-44.23 C13.52,-41.59 16.3,-39.31 20.06,-37.39 C23.82,-35.48 28.9,-33.84 35.31,-32.47 C41.71,-31.1 46.2,-29.47 48.77,-27.58 C51.35,-25.69 52.64,-23.04 52.64,-19.62 C52.64,-16.38 51.19,-13.8 48.3,-11.86z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,0,0)"
          opacity="1"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M24.2,-15.86 C20.69,-20.46 18.93,-27.03 18.93,-35.55 C18.93,-35.55 18.93,-37.94 18.93,-37.94 C18.93,-46.69 20.7,-53.38 24.23,-58 C27.76,-62.63 32.74,-64.94 39.17,-64.94 C43.96,-64.94 47.98,-63.4 51.24,-60.33 C54.49,-57.25 56.31,-53.32 56.67,-48.54 C56.67,-48.54 68.63,-48.54 68.63,-48.54 C68.27,-56.46 65.34,-62.91 59.85,-67.88 C54.36,-72.85 47.46,-75.33 39.17,-75.33 C32.43,-75.33 26.58,-73.78 21.64,-70.68 C16.69,-67.58 12.9,-63.23 10.25,-57.63 C7.61,-52.02 6.29,-45.62 6.29,-38.42 C6.29,-38.42 6.29,-36.3 6.29,-36.3 C6.29,-24.63 9.26,-15.44 15.21,-8.72 C21.16,-1.99 29.16,1.37 39.24,1.37 C44.25,1.37 49,0.23 53.49,-2.05 C57.98,-4.33 61.57,-7.38 64.26,-11.21 C66.95,-15.04 68.4,-19.07 68.63,-23.31 C68.63,-23.31 56.67,-23.31 56.67,-23.31 C56.31,-19.21 54.44,-15.79 51.06,-13.06 C47.69,-10.32 43.75,-8.95 39.24,-8.95 C32.72,-8.95 27.71,-11.26 24.2,-15.86z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,74.84400177001953,0)"
          opacity="1"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M45.32,-74.37 C44.05,-75.01 42.18,-75.33 39.72,-75.33 C32.1,-75.33 26.23,-72.03 22.08,-65.42 C22.08,-65.42 21.87,-73.96 21.87,-73.96 C21.87,-73.96 9.57,-73.96 9.57,-73.96 C9.57,-73.96 9.57,0 9.57,0 C9.57,0 22.22,0 22.22,0 C22.22,0 22.22,-52.5 22.22,-52.5 C25.18,-59.56 30.81,-63.1 39.1,-63.1 C41.33,-63.1 43.41,-62.94 45.32,-62.62 C45.32,-62.62 45.32,-74.37 45.32,-74.37z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,150.77999877929688,0)"
          opacity="1"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M68.15,-12.92 C68.15,-12.92 60.43,-18.93 60.43,-18.93 C58.11,-15.93 55.39,-13.51 52.3,-11.69 C49.2,-9.87 45.41,-8.95 40.95,-8.95 C34.66,-8.95 29.47,-11.2 25.4,-15.69 C21.32,-20.18 19.19,-26.07 19,-33.36 C19,-33.36 69.11,-33.36 69.11,-33.36 C69.11,-33.36 69.11,-38.62 69.11,-38.62 C69.11,-50.43 66.45,-59.49 61.11,-65.83 C55.78,-72.16 48.31,-75.33 38.69,-75.33 C32.81,-75.33 27.35,-73.7 22.32,-70.44 C17.28,-67.18 13.36,-62.67 10.56,-56.91 C7.76,-51.14 6.36,-44.59 6.36,-37.26 C6.36,-37.26 6.36,-34.93 6.36,-34.93 C6.36,-23.9 9.5,-15.1 15.79,-8.51 C22.08,-1.92 30.24,1.37 40.26,1.37 C52.66,1.37 61.96,-3.39 68.15,-12.92z M51.27,-59.64 C54.37,-56.11 56.1,-51.13 56.46,-44.71 C56.46,-44.71 56.46,-43.75 56.46,-43.75 C56.46,-43.75 19.41,-43.75 19.41,-43.75 C20.23,-50.45 22.38,-55.65 25.84,-59.37 C29.3,-63.08 33.59,-64.94 38.69,-64.94 C43.98,-64.94 48.17,-63.17 51.27,-59.64z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,200.8159942626953,0)"
          opacity="1"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M68.15,-12.92 C68.15,-12.92 60.43,-18.93 60.43,-18.93 C58.11,-15.93 55.39,-13.51 52.3,-11.69 C49.2,-9.87 45.41,-8.95 40.95,-8.95 C34.66,-8.95 29.47,-11.2 25.4,-15.69 C21.32,-20.18 19.19,-26.07 19,-33.36 C19,-33.36 69.11,-33.36 69.11,-33.36 C69.11,-33.36 69.11,-38.62 69.11,-38.62 C69.11,-50.43 66.45,-59.49 61.11,-65.83 C55.78,-72.16 48.31,-75.33 38.69,-75.33 C32.81,-75.33 27.35,-73.7 22.32,-70.44 C17.28,-67.18 13.36,-62.67 10.56,-56.91 C7.76,-51.14 6.36,-44.59 6.36,-37.26 C6.36,-37.26 6.36,-34.93 6.36,-34.93 C6.36,-23.9 9.5,-15.1 15.79,-8.51 C22.08,-1.92 30.24,1.37 40.26,1.37 C52.66,1.37 61.96,-3.39 68.15,-12.92z M51.27,-59.64 C54.37,-56.11 56.1,-51.13 56.46,-44.71 C56.46,-44.71 56.46,-43.75 56.46,-43.75 C56.46,-43.75 19.41,-43.75 19.41,-43.75 C20.23,-50.45 22.38,-55.65 25.84,-59.37 C29.3,-63.08 33.59,-64.94 38.69,-64.94 C43.98,-64.94 48.17,-63.17 51.27,-59.64z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,277.64801025390625,0)"
          opacity="1"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M9.57,-73.96 C9.57,-73.96 9.57,0 9.57,0 C9.57,0 22.22,0 22.22,0 C22.22,0 22.22,-52.7 22.22,-52.7 C23.95,-56.26 26.36,-59.13 29.46,-61.32 C32.56,-63.51 36.16,-64.6 40.26,-64.6 C45.32,-64.6 49.05,-63.32 51.44,-60.77 C53.83,-58.22 55.05,-54.28 55.1,-48.95 C55.1,-48.95 55.1,0 55.1,0 C55.1,0 67.74,0 67.74,0 C67.74,0 67.74,-48.88 67.74,-48.88 C67.61,-66.51 59.72,-75.33 44.09,-75.33 C34.98,-75.33 27.59,-71.78 21.94,-64.67 C21.94,-64.67 21.53,-73.96 21.53,-73.96 C21.53,-73.96 9.57,-73.96 9.57,-73.96z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,354.4800109863281,0)"
          opacity="0.3665028669338942"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M23.31,-105 C23.31,-105 10.66,-105 10.66,-105 C10.66,-105 10.66,0 10.66,0 C10.66,0 23.31,0 23.31,0 C23.31,0 23.31,-105 23.31,-105z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,434.3919982910156,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M23.31,-73.96 C23.31,-73.96 10.66,-73.96 10.66,-73.96 C10.66,-73.96 10.66,0 10.66,0 C10.66,0 23.31,0 23.31,0 C23.31,0 23.31,-73.96 23.31,-73.96z M11.52,-88.46 C12.77,-87.09 14.63,-86.41 17.09,-86.41 C19.55,-86.41 21.42,-87.09 22.7,-88.46 C23.97,-89.83 24.61,-91.53 24.61,-93.58 C24.61,-95.64 23.97,-97.37 22.7,-98.78 C21.42,-100.19 19.55,-100.9 17.09,-100.9 C14.63,-100.9 12.77,-100.19 11.52,-98.78 C10.26,-97.37 9.64,-95.64 9.64,-93.58 C9.64,-91.53 10.26,-89.83 11.52,-88.46z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,471.0299987792969,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M28.44,0 C28.44,0 28.44,-64.19 28.44,-64.19 C28.44,-64.19 44.23,-64.19 44.23,-64.19 C44.23,-64.19 44.23,-73.96 44.23,-73.96 C44.23,-73.96 28.44,-73.96 28.44,-73.96 C28.44,-73.96 28.44,-81.78 28.44,-81.78 C28.44,-86.26 29.55,-89.7 31.79,-92.1 C34.02,-94.5 37.19,-95.7 41.29,-95.7 C43.7,-95.7 45.98,-95.5 48.12,-95.09 C48.12,-95.09 48.81,-105.28 48.81,-105.28 C45.94,-106.05 43.04,-106.43 40.13,-106.43 C32.38,-106.43 26.39,-104.27 22.15,-99.94 C17.91,-95.61 15.79,-89.48 15.79,-81.55 C15.79,-81.55 15.79,-73.96 15.79,-73.96 C15.79,-73.96 4.1,-73.96 4.1,-73.96 C4.1,-73.96 4.1,-64.19 4.1,-64.19 C4.1,-64.19 15.79,-64.19 15.79,-64.19 C15.79,-64.19 15.79,0 15.79,0 C15.79,0 28.44,0 28.44,0z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,507.6679992675781,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M68.15,-12.92 C68.15,-12.92 60.43,-18.93 60.43,-18.93 C58.11,-15.93 55.39,-13.51 52.3,-11.69 C49.2,-9.87 45.41,-8.95 40.95,-8.95 C34.66,-8.95 29.47,-11.2 25.4,-15.69 C21.32,-20.18 19.19,-26.07 19,-33.36 C19,-33.36 69.11,-33.36 69.11,-33.36 C69.11,-33.36 69.11,-38.62 69.11,-38.62 C69.11,-50.43 66.45,-59.49 61.11,-65.83 C55.78,-72.16 48.31,-75.33 38.69,-75.33 C32.81,-75.33 27.35,-73.7 22.32,-70.44 C17.28,-67.18 13.36,-62.67 10.56,-56.91 C7.76,-51.14 6.36,-44.59 6.36,-37.26 C6.36,-37.26 6.36,-34.93 6.36,-34.93 C6.36,-23.9 9.5,-15.1 15.79,-8.51 C22.08,-1.92 30.24,1.37 40.26,1.37 C52.66,1.37 61.96,-3.39 68.15,-12.92z M51.27,-59.64 C54.37,-56.11 56.1,-51.13 56.46,-44.71 C56.46,-44.71 56.46,-43.75 56.46,-43.75 C56.46,-43.75 19.41,-43.75 19.41,-43.75 C20.23,-50.45 22.38,-55.65 25.84,-59.37 C29.3,-63.08 33.59,-64.94 38.69,-64.94 C43.98,-64.94 48.17,-63.17 51.27,-59.64z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,558.9359741210938,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M45.32,-74.37 C44.05,-75.01 42.18,-75.33 39.72,-75.33 C32.1,-75.33 26.23,-72.03 22.08,-65.42 C22.08,-65.42 21.87,-73.96 21.87,-73.96 C21.87,-73.96 9.57,-73.96 9.57,-73.96 C9.57,-73.96 9.57,0 9.57,0 C9.57,0 22.22,0 22.22,0 C22.22,0 22.22,-52.5 22.22,-52.5 C25.18,-59.56 30.81,-63.1 39.1,-63.1 C41.33,-63.1 43.41,-62.94 45.32,-62.62 C45.32,-62.62 45.32,-74.37 45.32,-74.37z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,635.7680053710938,0)"
          opacity="1.1102230246251565e-16"
        /></g
      ><g
        fill="rgb(0,0,0)"
        font-size="133"
        font-family="Roboto"
        font-style="normal"
        font-weight="400"
        arial-label=" ckrеутдшау"
        style="display: none;"
        transform="matrix(0.17000000178813934,0,0,0.17000000178813934,32.820159912109375,24.508392333984375)"
        opacity="1"
        ><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=""
          style="display: inherit;"
          transform="matrix(1,0,0,1,0,0)"
          opacity="1"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M22.99,-15.07 C19.65,-19.44 17.99,-25.67 17.99,-33.77 C17.99,-33.77 17.99,-36.04 17.99,-36.04 C17.99,-44.36 19.67,-50.71 23.02,-55.1 C26.38,-59.5 31.11,-61.69 37.21,-61.69 C41.76,-61.69 45.58,-60.23 48.67,-57.31 C51.77,-54.39 53.49,-50.65 53.84,-46.11 C53.84,-46.11 65.2,-46.11 65.2,-46.11 C64.85,-53.64 62.07,-59.77 56.86,-64.49 C51.64,-69.21 45.09,-71.57 37.21,-71.57 C30.8,-71.57 25.25,-70.09 20.55,-67.15 C15.86,-64.2 12.25,-60.07 9.74,-54.75 C7.23,-49.42 5.97,-43.34 5.97,-36.5 C5.97,-36.5 5.97,-34.48 5.97,-34.48 C5.97,-23.4 8.8,-14.67 14.45,-8.28 C20.1,-1.89 27.71,1.3 37.28,1.3 C42.04,1.3 46.55,0.22 50.82,-1.95 C55.08,-4.11 58.49,-7.01 61.04,-10.65 C63.6,-14.29 64.98,-18.12 65.2,-22.14 C65.2,-22.14 53.84,-22.14 53.84,-22.14 C53.49,-18.25 51.72,-15 48.51,-12.4 C45.31,-9.81 41.56,-8.51 37.28,-8.51 C31.08,-8.51 26.32,-10.69 22.99,-15.07z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,35.457801818847656,0)"
          opacity="1"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M53.19,0 C53.19,0 67.28,0 67.28,0 C67.28,0 36.76,-40.91 36.76,-40.91 C36.76,-40.91 64.1,-70.27 64.1,-70.27 C64.1,-70.27 49.49,-70.27 49.49,-70.27 C49.49,-70.27 27.6,-47.15 27.6,-47.15 C27.6,-47.15 21.17,-39.42 21.17,-39.42 C21.17,-39.42 21.17,-99.75 21.17,-99.75 C21.17,-99.75 9.16,-99.75 9.16,-99.75 C9.16,-99.75 9.16,0 9.16,0 C9.16,0 21.17,0 21.17,0 C21.17,0 21.17,-24.68 21.17,-24.68 C21.17,-24.68 28.7,-32.54 28.7,-32.54 C28.7,-32.54 53.19,0 53.19,0z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,107.59700012207031,0)"
          opacity="1"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M43.06,-70.66 C41.84,-71.26 40.07,-71.57 37.73,-71.57 C30.5,-71.57 24.91,-68.43 20.98,-62.15 C20.98,-62.15 20.78,-70.27 20.78,-70.27 C20.78,-70.27 9.09,-70.27 9.09,-70.27 C9.09,-70.27 9.09,0 9.09,0 C9.09,0 21.11,0 21.11,0 C21.11,0 21.11,-49.88 21.11,-49.88 C23.92,-56.58 29.27,-59.94 37.15,-59.94 C39.27,-59.94 41.24,-59.79 43.06,-59.49 C43.06,-59.49 43.06,-70.66 43.06,-70.66z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,177.5283966064453,0)"
          opacity="1"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M64.75,-12.27 C64.75,-12.27 57.41,-17.99 57.41,-17.99 C55.2,-15.13 52.62,-12.84 49.68,-11.11 C46.74,-9.37 43.14,-8.51 38.9,-8.51 C32.93,-8.51 28,-10.64 24.13,-14.9 C20.25,-19.17 18.23,-24.76 18.05,-31.69 C18.05,-31.69 65.66,-31.69 65.66,-31.69 C65.66,-31.69 65.66,-36.69 65.66,-36.69 C65.66,-47.9 63.12,-56.52 58.06,-62.54 C52.99,-68.55 45.89,-71.57 36.76,-71.57 C31.17,-71.57 25.99,-70.02 21.2,-66.92 C16.42,-63.83 12.7,-59.54 10.03,-54.06 C7.37,-48.59 6.04,-42.36 6.04,-35.39 C6.04,-35.39 6.04,-33.18 6.04,-33.18 C6.04,-22.71 9.03,-14.34 15,-8.09 C20.98,-1.83 28.73,1.3 38.25,1.3 C50.03,1.3 58.86,-3.23 64.75,-12.27z M48.71,-56.66 C51.65,-53.31 53.29,-48.58 53.64,-42.47 C53.64,-42.47 53.64,-41.56 53.64,-41.56 C53.64,-41.56 18.44,-41.56 18.44,-41.56 C19.22,-47.93 21.26,-52.87 24.55,-56.4 C27.84,-59.93 31.91,-61.69 36.76,-61.69 C41.78,-61.69 45.76,-60.02 48.71,-56.66z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,225.06260681152344,0)"
          opacity="0.07807490564790232"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M14.55,-70.27 C14.55,-70.27 1.43,-70.27 1.43,-70.27 C1.43,-70.27 26.5,-0.78 26.5,-0.78 C26.5,-0.78 23.83,6.36 23.83,6.36 C22.36,10.74 20.49,13.75 18.22,15.39 C15.94,17.04 12.77,17.86 8.7,17.86 C8.7,17.86 5.46,17.6 5.46,17.6 C5.46,17.6 5.46,27.34 5.46,27.34 C5.46,27.34 9.94,28.18 9.94,28.18 C9.94,28.18 12.21,28.38 12.21,28.38 C21.73,28.38 28.68,22.53 33.06,10.84 C33.06,10.84 61.31,-70.27 61.31,-70.27 C61.31,-70.27 48.45,-70.27 48.45,-70.27 C48.45,-70.27 32.08,-17.6 32.08,-17.6 C32.08,-17.6 14.55,-70.27 14.55,-70.27z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,298.0530090332031,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M61.31,-70.27 C61.31,-70.27 2.6,-70.27 2.6,-70.27 C2.6,-70.27 2.6,-60.53 2.6,-60.53 C2.6,-60.53 25.72,-60.53 25.72,-60.53 C25.72,-60.53 25.72,0 25.72,0 C25.72,0 37.73,0 37.73,0 C37.73,0 37.73,-60.53 37.73,-60.53 C37.73,-60.53 61.31,-60.53 61.31,-60.53 C61.31,-60.53 61.31,-70.27 61.31,-70.27z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,363.5022888183594,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M3.05,-9.81 C3.05,-9.81 2.99,20.65 2.99,20.65 C2.99,20.65 15,20.65 15,20.65 C15,20.65 15,0 15,0 C15,0 64.03,0 64.03,0 C64.03,0 64.03,20.65 64.03,20.65 C64.03,20.65 76.05,20.65 76.05,20.65 C76.05,20.65 76.05,-9.81 76.05,-9.81 C76.05,-9.81 67.02,-9.81 67.02,-9.81 C67.02,-9.81 67.02,-70.27 67.02,-70.27 C67.02,-70.27 21.75,-70.27 21.75,-70.27 C21.75,-70.27 20.65,-42.21 20.65,-42.21 C20,-30.09 17.34,-21 12.66,-14.94 C12.66,-14.94 8.51,-9.81 8.51,-9.81 C8.51,-9.81 3.05,-9.81 3.05,-9.81z M32.67,-42.41 C32.67,-42.41 33.38,-59.16 33.38,-59.16 C33.38,-59.16 55,-59.16 55,-59.16 C55,-59.16 55,-9.81 55,-9.81 C55,-9.81 22.73,-9.81 22.73,-9.81 C28.62,-17.56 31.93,-28.42 32.67,-42.41z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,429.935791015625,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M10.13,-70.27 C10.13,-70.27 10.13,0 10.13,0 C10.13,0 97.67,0 97.67,0 C97.67,0 97.67,-70.27 97.67,-70.27 C97.67,-70.27 85.59,-70.27 85.59,-70.27 C85.59,-70.27 85.59,-9.81 85.59,-9.81 C85.59,-9.81 59.94,-9.81 59.94,-9.81 C59.94,-9.81 59.94,-70.27 59.94,-70.27 C59.94,-70.27 47.93,-70.27 47.93,-70.27 C47.93,-70.27 47.93,-9.81 47.93,-9.81 C47.93,-9.81 22.21,-9.81 22.21,-9.81 C22.21,-9.81 22.21,-70.27 22.21,-70.27 C22.21,-70.27 10.13,-70.27 10.13,-70.27z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,514.0316772460938,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M65.07,0 C65.07,0 65.07,-1.04 65.07,-1.04 C63.43,-4.85 62.6,-9.98 62.6,-16.43 C62.6,-16.43 62.6,-48.77 62.6,-48.77 C62.43,-55.87 60.05,-61.44 55.46,-65.49 C50.87,-69.54 44.53,-71.57 36.43,-71.57 C31.32,-71.57 26.64,-70.61 22.37,-68.71 C18.11,-66.8 14.73,-64.22 12.24,-60.95 C9.75,-57.68 8.51,-54.29 8.51,-50.78 C8.51,-50.78 20.59,-50.78 20.59,-50.78 C20.59,-53.86 22.04,-56.48 24.94,-58.64 C27.84,-60.81 31.43,-61.89 35.72,-61.89 C40.61,-61.89 44.31,-60.64 46.82,-58.16 C49.33,-55.67 50.59,-52.32 50.59,-48.12 C50.59,-48.12 50.59,-42.6 50.59,-42.6 C50.59,-42.6 38.9,-42.6 38.9,-42.6 C28.81,-42.6 20.99,-40.58 15.42,-36.53 C9.86,-32.48 7.08,-26.8 7.08,-19.48 C7.08,-13.46 9.3,-8.5 13.73,-4.58 C18.17,-0.66 23.85,1.3 30.78,1.3 C38.53,1.3 45.2,-1.6 50.78,-7.4 C51.22,-3.85 51.78,-1.38 52.47,0 C52.47,0 65.07,0 65.07,0z M22.86,-12.34 C20.35,-14.46 19.09,-17.4 19.09,-21.17 C19.09,-29.79 26.45,-34.09 41.17,-34.09 C41.17,-34.09 50.59,-34.09 50.59,-34.09 C50.59,-34.09 50.59,-19.68 50.59,-19.68 C49.07,-16.56 46.63,-14.03 43.25,-12.08 C39.87,-10.13 36.3,-9.16 32.54,-9.16 C28.6,-9.16 25.37,-10.22 22.86,-12.34z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,624.1025390625,0)"
          opacity="0"
        /><path
          stroke-linecap="butt"
          stroke-linejoin="round"
          stroke-miterlimit="4"
          d=" M14.55,-70.27 C14.55,-70.27 1.43,-70.27 1.43,-70.27 C1.43,-70.27 26.5,-0.78 26.5,-0.78 C26.5,-0.78 23.83,6.36 23.83,6.36 C22.36,10.74 20.49,13.75 18.22,15.39 C15.94,17.04 12.77,17.86 8.7,17.86 C8.7,17.86 5.46,17.6 5.46,17.6 C5.46,17.6 5.46,27.34 5.46,27.34 C5.46,27.34 9.94,28.18 9.94,28.18 C9.94,28.18 12.21,28.38 12.21,28.38 C21.73,28.38 28.68,22.53 33.06,10.84 C33.06,10.84 61.31,-70.27 61.31,-70.27 C61.31,-70.27 48.45,-70.27 48.45,-70.27 C48.45,-70.27 32.08,-17.6 32.08,-17.6 C32.08,-17.6 14.55,-70.27 14.55,-70.27z"
          style="display: inherit;"
          transform="matrix(1,0,0,1,698.9682006835938,0)"
          opacity="1.1102230246251565e-16"
        /></g
      ><g
        transform="matrix(1.0540000200271606,0,0,1.0540000200271606,-8.116086959838867,-1.9400768280029297)"
        opacity="1"
        style="display: block;"
        ><g opacity="1" transform="matrix(1,0,0,1,24.024999618530273,31.027999877929688)"
          ><path
            fill="rgb(47,126,225)"
            fill-opacity="1"
            d=" M6.818999767303467,2.8519999980926514 C6.818999767303467,2.8519999980926514 1.9210000038146973,-4.0920000076293945 1.9210000038146973,-4.0920000076293945 C1.9210000038146973,-4.0920000076293945 1.9019999504089355,-4.117000102996826 1.9019999504089355,-4.117000102996826 C1.8550000190734863,-4.182000160217285 1.8009999990463257,-4.239999771118164 1.7410000562667847,-4.294000148773193 C1.3459999561309814,-4.6479997634887695 0.7680000066757202,-4.709000110626221 0.30799999833106995,-4.445000171661377 C0.30799999833106995,-4.445000171661377 0.28299999237060547,-4.432000160217285 0.28299999237060547,-4.432000160217285 C0.28299999237060547,-4.432000160217285 -6.453000068664551,-0.4129999876022339 -6.453000068664551,-0.4129999876022339 C-7.011000156402588,-0.08699999749660492 -7.198999881744385,0.6290000081062317 -6.873000144958496,1.187000036239624 C-6.867000102996826,1.1979999542236328 -6.861000061035156,1.2070000171661377 -6.855000019073486,1.2170000076293945 C-6.625,1.5820000171661377 -6.224999904632568,1.7829999923706055 -5.815999984741211,1.7829999923706055 C-5.599999904632568,1.7829999923706055 -5.380000114440918,1.7269999980926514 -5.182000160217285,1.6089999675750732 C-5.182000160217285,1.6089999675750732 0.5690000057220459,-1.8220000267028809 0.5690000057220459,-1.8220000267028809 C0.5690000057220459,-1.8220000267028809 4.813000202178955,4.195000171661377 4.813000202178955,4.195000171661377 C5.048999786376953,4.53000020980835 5.429999828338623,4.710000038146973 5.816999912261963,4.710000038146973 C6.053999900817871,4.710000038146973 6.295000076293945,4.642000198364258 6.505000114440918,4.499000072479248 C7.059000015258789,4.130000114440918 7.198999881744385,3.3910000324249268 6.818999767303467,2.8519999980926514z"
          /></g
        ></g
      ><g
        transform="matrix(1.0540000200271606,0,0,1.0540000200271606,-8.116772651672363,-1.9409656524658203)"
        opacity="1"
        style="display: block;"
        ><g opacity="1" transform="matrix(1,0,0,1,27.229999542236328,20.899999618530273)"
          ><path
            fill="rgb(238,51,64)"
            fill-opacity="1"
            d=" M10.145999908447266,0.33899998664855957 C10.239999771118164,0.03999999910593033 10.206000328063965,-0.28600001335144043 10.050999641418457,-0.5590000152587891 C10.041000366210938,-0.5789999961853027 10.03499984741211,-0.6000000238418579 10.02299976348877,-0.6179999709129333 C10.015999794006348,-0.6299999952316284 10.005000114440918,-0.6380000114440918 9.996999740600586,-0.6499999761581421 C9.972000122070312,-0.6859999895095825 9.944999694824219,-0.7200000286102295 9.916999816894531,-0.753000020980835 C9.894000053405762,-0.7820000052452087 9.868000030517578,-0.8100000023841858 9.842000007629395,-0.8370000123977661 C9.814000129699707,-0.8629999756813049 9.786999702453613,-0.8880000114440918 9.756999969482422,-0.9110000133514404 C9.723999977111816,-0.9380000233650208 9.687999725341797,-0.9639999866485596 9.652000427246094,-0.9879999756813049 C9.640000343322754,-0.9950000047683716 9.630999565124512,-1.003999948501587 9.618000030517578,-1.0119999647140503 C9.618000030517578,-1.0119999647140503 -8.388999938964844,-11.73799991607666 -8.388999938964844,-11.73799991607666 C-8.411999702453613,-11.751999855041504 -8.437000274658203,-11.758999824523926 -8.460000038146973,-11.770999908447266 C-8.5,-11.791000366210938 -8.539999961853027,-11.812999725341797 -8.583000183105469,-11.829000473022461 C-8.619999885559082,-11.843000411987305 -8.656999588012695,-11.852999687194824 -8.694999694824219,-11.86299991607666 C-8.732999801635742,-11.873000144958496 -8.769000053405762,-11.885000228881836 -8.809000015258789,-11.890999794006348 C-8.854000091552734,-11.89900016784668 -8.899999618530273,-11.899999618530273 -8.944999694824219,-11.904000282287598 C-8.970999717712402,-11.904999732971191 -8.996000289916992,-11.91100025177002 -9.02299976348877,-11.91100025177002 C-9.02299976348877,-11.91100025177002 -9.048999786376953,-11.90999984741211 -9.048999786376953,-11.90999984741211 C-9.093999862670898,-11.909000396728516 -9.138999938964844,-11.901000022888184 -9.184000015258789,-11.895999908447266 C-9.218999862670898,-11.890999794006348 -9.255000114440918,-11.888999938964844 -9.289999961853027,-11.881999969482422 C-9.329000473022461,-11.873000144958496 -9.366000175476074,-11.859000205993652 -9.404000282287598,-11.845999717712402 C-9.440999984741211,-11.833999633789062 -9.477999687194824,-11.824999809265137 -9.513999938964844,-11.809000015258789 C-9.550000190734863,-11.793999671936035 -9.583999633789062,-11.77400016784668 -9.618000030517578,-11.755000114440918 C-9.651000022888184,-11.737000465393066 -9.6850004196167,-11.720999717712402 -9.717000007629395,-11.699000358581543 C-9.74899959564209,-11.678000450134277 -9.777999877929688,-11.649999618530273 -9.809000015258789,-11.62399959564209 C-9.83899974822998,-11.600000381469727 -9.869000434875488,-11.57699966430664 -9.895999908447266,-11.548999786376953 C-9.920999526977539,-11.52400016784668 -9.942000389099121,-11.496000289916992 -9.96500015258789,-11.468999862670898 C-9.993000030517578,-11.434000015258789 -10.022000312805176,-11.402000427246094 -10.045999526977539,-11.364999771118164 C-10.045999526977539,-11.364999771118164 -10.062000274658203,-11.343999862670898 -10.062000274658203,-11.343999862670898 C-10.076000213623047,-11.321000099182129 -10.083999633789062,-11.29800033569336 -10.095999717712402,-11.274999618530273 C-10.116999626159668,-11.236000061035156 -10.13700008392334,-11.197999954223633 -10.154000282287598,-11.156000137329102 C-10.168000221252441,-11.119999885559082 -10.178000450134277,-11.083000183105469 -10.189000129699707,-11.045999526977539 C-10.199000358581543,-11.008999824523926 -10.211999893188477,-10.972000122070312 -10.218999862670898,-10.934000015258789 C-10.22700023651123,-10.890000343322754 -10.229000091552734,-10.845999717712402 -10.232000350952148,-10.800999641418457 C-10.234000205993652,-10.776000022888184 -10.239999771118164,-10.75100040435791 -10.239999771118164,-10.725000381469727 C-10.239999771118164,-10.725000381469727 -10.239999771118164,10.725000381469727 -10.239999771118164,10.725000381469727 C-10.239999771118164,11.380000114440918 -9.694999694824219,11.91100025177002 -9.02299976348877,11.91100025177002 C-8.35099983215332,11.91100025177002 -7.807000160217285,11.380999565124512 -7.807000160217285,10.725000381469727 C-7.807000160217285,10.725000381469727 -7.807000160217285,-8.611000061035156 -7.807000160217285,-8.611000061035156 C-7.807000160217285,-8.611000061035156 6.650000095367432,0.0010000000474974513 6.650000095367432,0.0010000000474974513 C6.650000095367432,0.0010000000474974513 1.3070000410079956,3.180000066757202 1.3070000410079956,3.180000066757202 C0.7490000128746033,3.505000114440918 0.5590000152587891,4.21999979019165 0.8830000162124634,4.7789998054504395 C0.8830000162124634,4.7789998054504395 0.9020000100135803,4.810999870300293 0.9020000100135803,4.810999870300293 C1.1319999694824219,5.177000045776367 1.531000018119812,5.377999782562256 1.940999984741211,5.377999782562256 C2.1570000648498535,5.377999782562256 2.375999927520752,5.322000026702881 2.5739998817443848,5.203999996185303 C2.5739998817443848,5.203999996185303 9.616999626159668,1.0140000581741333 9.616999626159668,1.0140000581741333 C9.616999626159668,1.0140000581741333 9.63700008392334,0.9990000128746033 9.63700008392334,0.9990000128746033 C9.696999549865723,0.9620000123977661 9.753999710083008,0.9210000038146973 9.807000160217285,0.8740000128746033 C9.807000160217285,0.8740000128746033 9.815999984741211,0.8669999837875366 9.815999984741211,0.8669999837875366 C9.880000114440918,0.8069999814033508 9.937999725341797,0.7400000095367432 9.98799991607666,0.6669999957084656 C9.998000144958496,0.6510000228881836 10.01200008392334,0.6370000243186951 10.02299976348877,0.6200000047683716 C10.03499984741211,0.6000000238418579 10.039999961853027,0.5789999961853027 10.050999641418457,0.5590000152587891 C10.09000015258789,0.48899999260902405 10.121999740600586,0.41600000858306885 10.145999908447266,0.3400000035762787"
          /></g
        ></g
      ></g
    ></svg
  >