<script>
  import { fade } from 'svelte/transition'
  import { isLoadingBanners, banners, getBanners } from './store'
  import Loader from './Loader.svelte'

  let activeIndex = 0
  let sliderTimeout;
  const nextSlide = () => {
    if (activeIndex === $banners.length - 1) {
      activeIndex = 0
    } else {
      activeIndex += 1
    }
    sliderTimeout = setTimeout(nextSlide, 3000)
  }

  const init = async () => {
    await getBanners()
    sliderTimeout = setTimeout(nextSlide, 3000)
  }
  init()
  const selectIndex = (i) => {
    clearTimeout(sliderTimeout)
    sliderTimeout = setTimeout(nextSlide, 3000)
    activeIndex = i
  }
</script>

<div class="s-gallery">
  {#if $isLoadingBanners}
    <div class="s-loader">
      <Loader />
    </div>
  {:else}
    {#each [0] as item (activeIndex)}
      <a href={$banners[activeIndex].Url} target="_blank">
        <div class="s-cover" style={`background-image: url(${$banners[activeIndex].PosterHi})`} transition:fade|local />
      </a>
    {/each}
    <div class="s-dots">
      {#each $banners as item, i}
        <div class="s-dot" class:s-active={i === activeIndex} on:click={()=>selectIndex(i)} />
      {/each}
    </div>
  {/if}
</div>

<style>
  .s-dots {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
  }
  .s-dot {
    border-radius: 50%;
    min-width: 16px;
    min-height: 16px;
    background-color: #ffffff;
    opacity: 0.25;
    margin: 0 8px;
    cursor: pointer;
    transition: background-color 0.2s, opacity 0.2s;
  }
  .s-active {
    background-color: #307fe2;
    opacity: 1;
  }
  .s-gallery {
    display: flex;
    position: relative;
    min-width: 100%;
    padding-top: 22%;
  }
  .s-cover {
    padding-top: 22%;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    min-width: 100%;
    position: absolute;
    top: 0;
  }
  .s-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
  }
  @media (max-width: 600px) {
    .s-gallery,
    .s-cover {
      padding-top: 45%;
    }
    .s-dots{
      bottom: 8px;
      right: 8px;
    }
    .s-dot {
      min-width: 8px;
    min-height: 8px;
    }
  }
</style>
