<script>
  import Logo from './Logo/Logo.svelte'
  
  import Spacer from './Spacer.svelte'
</script>

<div class="s-header">
  <Logo />
  <Spacer vertical size={24} />
  <div class="s-menu">
    <a href="https://screenlifer.com/category/projects/">Проекты</a>
    <a href="https://screenlifer.com/category/tools/">Школа</a>
    <a href="https://screenlifer.com/category/trends/">Тренды</a>
    <a href="https://screenlifer.com/o-nas/">О нас</a>
  </div>
  <Spacer vertical size={24} />
  <Spacer vertical size={160} />
</div>

<style>
  .s-header {
    display: flex;
  }
  .s-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  .s-menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0.625rem;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    height: 100%;
    display: flex;
    align-items: center;
  }
  @media (max-width: 600px) {
    .s-menu{
      margin-top: 8px;
    }
    .s-header {
      flex-direction: column;
    }
  }
</style>
