<script>
  import Kinopoisk from './assets/Kinopoisk.svelte'
  export let item = {}
</script>

<div class="s-itemWrapper">
  <a href={item.Url} target="_blank">
    <div class="s-item" style={`background-image:url(${item.PosterLow})`}>
      {#if item.Rating}
        <div class="s-raiting">
          <Kinopoisk />
          <div class="s-raitingValue">{item.Rating}</div>
        </div>
      {/if}
      <div class="s-description">
        <div class="s-title">{item.FilmName}</div>
        <div class="s-about">
          <div class="s-user">{item.AuthorName.trim() || ''}</div>
          <div>{item.Genre || ''}</div>
        </div>
      </div>
    </div>
  </a>
</div>

<style>
  .s-itemWrapper {
    width: 25%;
    flex-grow: 1;
    padding: 0 20px 20px 0;
    box-sizing: border-box;
    max-width: 600px;
    
  }
  .s-item {
    background-position: center;
    background-size: cover;
    padding-top: 62%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow 0.1s ease-in-out;
  }
  .s-item:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .s-description {
    position: absolute;
    bottom: 0;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
    right: 0;
    color: white;
  }
  .s-title {
    font-size: 20px;
    text-overflow: ellipsis;
    margin-bottom: 12px;
    font-weight: 900;
  }

  .s-about {
    display: flex;
    font-size: 10px;
    align-items: flex-end;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 900;
  }
  .s-raiting {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e8511d;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
    color: white;
    display: flex;
    align-items: center;
    padding: 8px;
  }
  .s-raitingValue {
    margin-left: 8px;
  }
  @media (max-width: 1024px){
    .s-itemWrapper {
      width: 33.33%;
    }
  }
  @media (max-width: 768px){
    .s-itemWrapper {
      width: 50%;
    }
  }
  @media (max-width: 600px){
    .s-itemWrapper {
      width: 100%;
    }
  }
</style>
