<script>
  import ListItem from './Listitem.svelte'
  import { isLoadingList, list, getList, sortDirection, changeSort } from './store'
  import Spacer from './Spacer.svelte'
  import Loader from './Loader.svelte'
  getList()
</script>

<div>
  <div class="s-header">
    <div class="s-title">Мы рекомендуем</div>
    <div class="s-sort">
      
      <div class="s-sortItem" class:sortActive={$sortDirection === 'date'} on:click={()=>changeSort('date')}>По дате</div>
      <div class="s-sortItem" class:sortActive={$sortDirection === 'rating'} on:click={()=>changeSort('rating')}>По рейтингу</div>
    </div>
  </div>

  <Spacer size={24} />

  <div class="s-container">
    {#if $isLoadingList}
      <Loader />
    {:else}
      {#each $list as item}
        <ListItem {item} />
      {/each}
    {/if}
  </div>
</div>

<style>
  .s-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .s-sort {
    display: flex;
  }
  .s-sortItem {
    color: #8a94a7;
    font-weight: 500;
    font-size: 14px;
    margin-left: 8px;
    cursor: pointer;
    opacity: 0.5;
  }
  .sortActive{
    color: #8A94A7;
    opacity: 1;
  }
  .s-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px -20px 0;
    justify-content: center;
    overflow: hidden;
  }
  .s-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    color: #212121;
  }
  @media (max-width: 600px) {
    .s-header{
      flex-direction: column;
    }
    .s-sortItem{
      margin-top: 8px;
    }
  }
</style>
