<script>
  import ListItem from './Listitem.svelte'
  import { isLoadingSearch, searchList } from './store'
  import Spacer from './Spacer.svelte'
  import Loader from './Loader.svelte'
</script>

<div>
  <div class="s-container">
    <!-- {#if $isLoadingSearch}
      <Loader />
    {:else} -->
    {#each $searchList as item}
      <ListItem {item} />
    {/each}
    {#if $searchList.length === 0 && !$isLoadingSearch}
      <h2>Ничего не найдено</h2>
    {:else if $searchList.length === 0 && $isLoadingSearch}
      <Loader />
    {/if}
    <!-- {/if} -->
  </div>
</div>

<style>
  .s-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px -20px 0;
    justify-content: center;
    overflow: hidden;
  }

</style>
