<script>
  import Search from './assets/Search.svelte'
  import { search } from './store'
</script>

<div class="s-container">
  <div class="s-searchIcon"><Search /></div>
  <input type="text" placeholder="Введите название фильма" class="s-input" bind:value={$search} />
</div>

<style>
  .s-container {
    position: relative;
    flex-grow: 1;
  }
  .s-input {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(138, 148, 167, 0.05);
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 16px 16px 16px 40px;
    outline: none;
  }
  .s-searchIcon {
    position: absolute;
    top: 18px;
    left: 16px;
  }
  input {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
  }

  input:disabled {
    color: #ccc;
  }
</style>
