
<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.50227 0.909912C3.69379 0.909912 0.595703 4.02254 0.595703 7.84888C0.595703 11.6752 3.69379 14.7879 7.50227 14.7879C11.3107 14.7879 14.4088 11.6752 14.4088 7.84888C14.4088 4.02254 11.3107 0.909912 7.50227 0.909912ZM4.87777 3.58637C5.80522 3.58637 6.53535 4.31992 6.53535 5.25172C6.53535 6.18353 5.80522 6.91708 4.87777 6.91708C3.95032 6.91708 3.2202 6.18353 3.2202 5.25172C3.23993 4.31992 3.97005 3.58637 4.87777 3.58637ZM4.87777 12.1114C3.95032 12.1114 3.2202 11.3778 3.2202 10.446C3.2202 9.51423 3.95032 8.78069 4.87777 8.78069C5.80522 8.78069 6.53535 9.51423 6.53535 10.446C6.51561 11.3778 5.78549 12.1114 4.87777 12.1114ZM6.79188 8.5626C6.39722 8.16609 6.39722 7.51185 6.79188 7.11533C7.18654 6.71882 7.83773 6.71882 8.23239 7.11533C8.62705 7.51185 8.62705 8.16609 8.23239 8.5626C7.83773 8.95912 7.18654 8.97894 6.79188 8.5626ZM10.1268 12.1114C9.19931 12.1114 8.46919 11.3778 8.46919 10.446C8.46919 9.51423 9.19931 8.78069 10.1268 8.78069C11.0542 8.78069 11.7843 9.51423 11.7843 10.446C11.7646 11.3778 11.0345 12.1114 10.1268 12.1114ZM10.1268 6.87743C9.19931 6.87743 8.46919 6.14388 8.46919 5.21207C8.46919 4.28027 9.19931 3.54672 10.1268 3.54672C11.0542 3.54672 11.7843 4.28027 11.7843 5.21207C11.7646 6.14388 11.0345 6.87743 10.1268 6.87743Z" fill="white"/>
    </svg>
    