
<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6.86098 12.8533C10.0979 12.8533 12.722 10.2293 12.722 6.99233C12.722 3.7554 10.0979 1.13135 6.86098 1.13135C3.62405 1.13135 1 3.7554 1 6.99233C1 10.2293 3.62405 12.8533 6.86098 12.8533Z" stroke="#8A94A7" stroke-width="1.56469" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M10.9187 11.2192L15.568 15.8686" stroke="#8A94A7" stroke-width="1.56469" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    