<script>
  // import Header from './components/Header.svelte'
  import List from './components/List.svelte'
  import Search from './components/Search.svelte'
  import Gallery from './components/Gallery.svelte'
  import Spacer from './components/Spacer.svelte'
  import { search } from './components/store'
  import SearchList from './components/SearchList.svelte'
  
  import Header from './components/Header.svelte'
  
</script>

<!-- <Header/> -->
<div class="s-layout">
  <!-- <LeftPanel /> -->
  <div class="s-content">
    <Header/>
    <Spacer size={16} />
    <Search/>
    <Spacer size={24} />
    <div class:s-invisible={$search}>
      <Gallery />
      <Spacer size={24} />
      <List />
    </div>
    {#if $search}
      <SearchList />
    {/if}
  </div>
</div>

<style>
  .s-content {
    padding: 16px 24px;
    /* overflow: auto; */
    width: 100%;
  }
  .s-layout {
    display: flex;
    background-color: #f4f4fa;
    max-height: 100vh;
    min-height: 100vh;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
      sans-serif;
  }
  .s-invisible {
    display: none;
  }
  @media (max-width:600px){
    .s-content{
      padding: 16px;
    }
  }
</style>
